/*
Binance Public Spot API

OpenAPI Specifications for the Binance Public Spot API  API documents:   - [https://github.com/binance/binance-spot-api-docs](https://github.com/binance/binance-spot-api-docs)   - [https://binance-docs.github.io/apidocs/spot/en](https://binance-docs.github.io/apidocs/spot/en)

API version: 1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	_context "context"
	_ioutil "io/ioutil"
	_nethttp "net/http"
	_neturl "net/url"
)

// Linger please
var (
	_ _context.Context
)

// SubAccountApiService SubAccountApi service
type SubAccountApiService service

type ApiSapiV1CapitalDepositSubAddressGetRequest struct {
	ctx _context.Context
	ApiService *SubAccountApiService
	email *string
	coin *string
	timestamp *int64
	signature *string
	network *string
	recvWindow *int64
}

// Sub-account email
func (r ApiSapiV1CapitalDepositSubAddressGetRequest) Email(email string) ApiSapiV1CapitalDepositSubAddressGetRequest {
	r.email = &email
	return r
}
// Coin name
func (r ApiSapiV1CapitalDepositSubAddressGetRequest) Coin(coin string) ApiSapiV1CapitalDepositSubAddressGetRequest {
	r.coin = &coin
	return r
}
// UTC timestamp in ms
func (r ApiSapiV1CapitalDepositSubAddressGetRequest) Timestamp(timestamp int64) ApiSapiV1CapitalDepositSubAddressGetRequest {
	r.timestamp = &timestamp
	return r
}
// Signature
func (r ApiSapiV1CapitalDepositSubAddressGetRequest) Signature(signature string) ApiSapiV1CapitalDepositSubAddressGetRequest {
	r.signature = &signature
	return r
}
func (r ApiSapiV1CapitalDepositSubAddressGetRequest) Network(network string) ApiSapiV1CapitalDepositSubAddressGetRequest {
	r.network = &network
	return r
}
// The value cannot be greater than 60000
func (r ApiSapiV1CapitalDepositSubAddressGetRequest) RecvWindow(recvWindow int64) ApiSapiV1CapitalDepositSubAddressGetRequest {
	r.recvWindow = &recvWindow
	return r
}

func (r ApiSapiV1CapitalDepositSubAddressGetRequest) Execute() (InlineResponse20053, *_nethttp.Response, error) {
	return r.ApiService.SapiV1CapitalDepositSubAddressGetExecute(r)
}

/*
SapiV1CapitalDepositSubAddressGet Sub-account Spot Assets Summary (For Master Account)

Fetch sub-account deposit address

Weight(IP): 1

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiSapiV1CapitalDepositSubAddressGetRequest
*/
func (a *SubAccountApiService) SapiV1CapitalDepositSubAddressGet(ctx _context.Context) ApiSapiV1CapitalDepositSubAddressGetRequest {
	return ApiSapiV1CapitalDepositSubAddressGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return InlineResponse20053
func (a *SubAccountApiService) SapiV1CapitalDepositSubAddressGetExecute(r ApiSapiV1CapitalDepositSubAddressGetRequest) (InlineResponse20053, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  InlineResponse20053
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SubAccountApiService.SapiV1CapitalDepositSubAddressGet")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/sapi/v1/capital/deposit/subAddress"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.email == nil {
		return localVarReturnValue, nil, reportError("email is required and must be specified")
	}
	if r.coin == nil {
		return localVarReturnValue, nil, reportError("coin is required and must be specified")
	}
	if r.timestamp == nil {
		return localVarReturnValue, nil, reportError("timestamp is required and must be specified")
	}
	if r.signature == nil {
		return localVarReturnValue, nil, reportError("signature is required and must be specified")
	}

	localVarQueryParams.Add("email", parameterToString(*r.email, ""))
	localVarQueryParams.Add("coin", parameterToString(*r.coin, ""))
	if r.network != nil {
		localVarQueryParams.Add("network", parameterToString(*r.network, ""))
	}
	if r.recvWindow != nil {
		localVarQueryParams.Add("recvWindow", parameterToString(*r.recvWindow, ""))
	}
	localVarQueryParams.Add("timestamp", parameterToString(*r.timestamp, ""))
	localVarQueryParams.Add("signature", parameterToString(*r.signature, ""))
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-MBX-APIKEY"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ModelError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ModelError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSapiV1CapitalDepositSubHisrecGetRequest struct {
	ctx _context.Context
	ApiService *SubAccountApiService
	email *string
	timestamp *int64
	signature *string
	coin *string
	status *int32
	startTime *int64
	endTime *int64
	limit *int64
	offset *int32
	recvWindow *int64
}

// Sub-account email
func (r ApiSapiV1CapitalDepositSubHisrecGetRequest) Email(email string) ApiSapiV1CapitalDepositSubHisrecGetRequest {
	r.email = &email
	return r
}
// UTC timestamp in ms
func (r ApiSapiV1CapitalDepositSubHisrecGetRequest) Timestamp(timestamp int64) ApiSapiV1CapitalDepositSubHisrecGetRequest {
	r.timestamp = &timestamp
	return r
}
// Signature
func (r ApiSapiV1CapitalDepositSubHisrecGetRequest) Signature(signature string) ApiSapiV1CapitalDepositSubHisrecGetRequest {
	r.signature = &signature
	return r
}
// Coin name
func (r ApiSapiV1CapitalDepositSubHisrecGetRequest) Coin(coin string) ApiSapiV1CapitalDepositSubHisrecGetRequest {
	r.coin = &coin
	return r
}
// 0(0:pending,6: credited but cannot withdraw, 1:success)
func (r ApiSapiV1CapitalDepositSubHisrecGetRequest) Status(status int32) ApiSapiV1CapitalDepositSubHisrecGetRequest {
	r.status = &status
	return r
}
// UTC timestamp in ms
func (r ApiSapiV1CapitalDepositSubHisrecGetRequest) StartTime(startTime int64) ApiSapiV1CapitalDepositSubHisrecGetRequest {
	r.startTime = &startTime
	return r
}
// UTC timestamp in ms
func (r ApiSapiV1CapitalDepositSubHisrecGetRequest) EndTime(endTime int64) ApiSapiV1CapitalDepositSubHisrecGetRequest {
	r.endTime = &endTime
	return r
}
func (r ApiSapiV1CapitalDepositSubHisrecGetRequest) Limit(limit int64) ApiSapiV1CapitalDepositSubHisrecGetRequest {
	r.limit = &limit
	return r
}
func (r ApiSapiV1CapitalDepositSubHisrecGetRequest) Offset(offset int32) ApiSapiV1CapitalDepositSubHisrecGetRequest {
	r.offset = &offset
	return r
}
// The value cannot be greater than 60000
func (r ApiSapiV1CapitalDepositSubHisrecGetRequest) RecvWindow(recvWindow int64) ApiSapiV1CapitalDepositSubHisrecGetRequest {
	r.recvWindow = &recvWindow
	return r
}

func (r ApiSapiV1CapitalDepositSubHisrecGetRequest) Execute() ([]InlineResponse20054, *_nethttp.Response, error) {
	return r.ApiService.SapiV1CapitalDepositSubHisrecGetExecute(r)
}

/*
SapiV1CapitalDepositSubHisrecGet Sub-account Deposit History (For Master Account)

Fetch sub-account deposit history

Weight(IP): 1

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiSapiV1CapitalDepositSubHisrecGetRequest
*/
func (a *SubAccountApiService) SapiV1CapitalDepositSubHisrecGet(ctx _context.Context) ApiSapiV1CapitalDepositSubHisrecGetRequest {
	return ApiSapiV1CapitalDepositSubHisrecGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []InlineResponse20054
func (a *SubAccountApiService) SapiV1CapitalDepositSubHisrecGetExecute(r ApiSapiV1CapitalDepositSubHisrecGetRequest) ([]InlineResponse20054, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  []InlineResponse20054
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SubAccountApiService.SapiV1CapitalDepositSubHisrecGet")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/sapi/v1/capital/deposit/subHisrec"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.email == nil {
		return localVarReturnValue, nil, reportError("email is required and must be specified")
	}
	if r.timestamp == nil {
		return localVarReturnValue, nil, reportError("timestamp is required and must be specified")
	}
	if r.signature == nil {
		return localVarReturnValue, nil, reportError("signature is required and must be specified")
	}

	localVarQueryParams.Add("email", parameterToString(*r.email, ""))
	if r.coin != nil {
		localVarQueryParams.Add("coin", parameterToString(*r.coin, ""))
	}
	if r.status != nil {
		localVarQueryParams.Add("status", parameterToString(*r.status, ""))
	}
	if r.startTime != nil {
		localVarQueryParams.Add("startTime", parameterToString(*r.startTime, ""))
	}
	if r.endTime != nil {
		localVarQueryParams.Add("endTime", parameterToString(*r.endTime, ""))
	}
	if r.limit != nil {
		localVarQueryParams.Add("limit", parameterToString(*r.limit, ""))
	}
	if r.offset != nil {
		localVarQueryParams.Add("offset", parameterToString(*r.offset, ""))
	}
	if r.recvWindow != nil {
		localVarQueryParams.Add("recvWindow", parameterToString(*r.recvWindow, ""))
	}
	localVarQueryParams.Add("timestamp", parameterToString(*r.timestamp, ""))
	localVarQueryParams.Add("signature", parameterToString(*r.signature, ""))
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-MBX-APIKEY"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ModelError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ModelError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSapiV1ManagedSubaccountAssetGetRequest struct {
	ctx _context.Context
	ApiService *SubAccountApiService
	email *string
	timestamp *int64
	signature *string
	recvWindow *int64
}

// Sub-account email
func (r ApiSapiV1ManagedSubaccountAssetGetRequest) Email(email string) ApiSapiV1ManagedSubaccountAssetGetRequest {
	r.email = &email
	return r
}
// UTC timestamp in ms
func (r ApiSapiV1ManagedSubaccountAssetGetRequest) Timestamp(timestamp int64) ApiSapiV1ManagedSubaccountAssetGetRequest {
	r.timestamp = &timestamp
	return r
}
// Signature
func (r ApiSapiV1ManagedSubaccountAssetGetRequest) Signature(signature string) ApiSapiV1ManagedSubaccountAssetGetRequest {
	r.signature = &signature
	return r
}
// The value cannot be greater than 60000
func (r ApiSapiV1ManagedSubaccountAssetGetRequest) RecvWindow(recvWindow int64) ApiSapiV1ManagedSubaccountAssetGetRequest {
	r.recvWindow = &recvWindow
	return r
}

func (r ApiSapiV1ManagedSubaccountAssetGetRequest) Execute() ([]InlineResponse20069, *_nethttp.Response, error) {
	return r.ApiService.SapiV1ManagedSubaccountAssetGetExecute(r)
}

/*
SapiV1ManagedSubaccountAssetGet Managed sub-account asset details（For Investor Master Account)

Weight(IP): 1

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiSapiV1ManagedSubaccountAssetGetRequest
*/
func (a *SubAccountApiService) SapiV1ManagedSubaccountAssetGet(ctx _context.Context) ApiSapiV1ManagedSubaccountAssetGetRequest {
	return ApiSapiV1ManagedSubaccountAssetGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []InlineResponse20069
func (a *SubAccountApiService) SapiV1ManagedSubaccountAssetGetExecute(r ApiSapiV1ManagedSubaccountAssetGetRequest) ([]InlineResponse20069, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  []InlineResponse20069
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SubAccountApiService.SapiV1ManagedSubaccountAssetGet")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/sapi/v1/managed-subaccount/asset"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.email == nil {
		return localVarReturnValue, nil, reportError("email is required and must be specified")
	}
	if r.timestamp == nil {
		return localVarReturnValue, nil, reportError("timestamp is required and must be specified")
	}
	if r.signature == nil {
		return localVarReturnValue, nil, reportError("signature is required and must be specified")
	}

	localVarQueryParams.Add("email", parameterToString(*r.email, ""))
	if r.recvWindow != nil {
		localVarQueryParams.Add("recvWindow", parameterToString(*r.recvWindow, ""))
	}
	localVarQueryParams.Add("timestamp", parameterToString(*r.timestamp, ""))
	localVarQueryParams.Add("signature", parameterToString(*r.signature, ""))
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-MBX-APIKEY"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ModelError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ModelError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSapiV1ManagedSubaccountDepositPostRequest struct {
	ctx _context.Context
	ApiService *SubAccountApiService
	toEmail *string
	asset *string
	amount *float64
	timestamp *int64
	signature *string
	recvWindow *int64
}

// Recipient email
func (r ApiSapiV1ManagedSubaccountDepositPostRequest) ToEmail(toEmail string) ApiSapiV1ManagedSubaccountDepositPostRequest {
	r.toEmail = &toEmail
	return r
}
func (r ApiSapiV1ManagedSubaccountDepositPostRequest) Asset(asset string) ApiSapiV1ManagedSubaccountDepositPostRequest {
	r.asset = &asset
	return r
}
func (r ApiSapiV1ManagedSubaccountDepositPostRequest) Amount(amount float64) ApiSapiV1ManagedSubaccountDepositPostRequest {
	r.amount = &amount
	return r
}
// UTC timestamp in ms
func (r ApiSapiV1ManagedSubaccountDepositPostRequest) Timestamp(timestamp int64) ApiSapiV1ManagedSubaccountDepositPostRequest {
	r.timestamp = &timestamp
	return r
}
// Signature
func (r ApiSapiV1ManagedSubaccountDepositPostRequest) Signature(signature string) ApiSapiV1ManagedSubaccountDepositPostRequest {
	r.signature = &signature
	return r
}
// The value cannot be greater than 60000
func (r ApiSapiV1ManagedSubaccountDepositPostRequest) RecvWindow(recvWindow int64) ApiSapiV1ManagedSubaccountDepositPostRequest {
	r.recvWindow = &recvWindow
	return r
}

func (r ApiSapiV1ManagedSubaccountDepositPostRequest) Execute() (InlineResponse20068, *_nethttp.Response, error) {
	return r.ApiService.SapiV1ManagedSubaccountDepositPostExecute(r)
}

/*
SapiV1ManagedSubaccountDepositPost Deposit assets into the managed sub-account（For Investor Master Account）

Weight(IP): 1

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiSapiV1ManagedSubaccountDepositPostRequest
*/
func (a *SubAccountApiService) SapiV1ManagedSubaccountDepositPost(ctx _context.Context) ApiSapiV1ManagedSubaccountDepositPostRequest {
	return ApiSapiV1ManagedSubaccountDepositPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return InlineResponse20068
func (a *SubAccountApiService) SapiV1ManagedSubaccountDepositPostExecute(r ApiSapiV1ManagedSubaccountDepositPostRequest) (InlineResponse20068, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPost
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  InlineResponse20068
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SubAccountApiService.SapiV1ManagedSubaccountDepositPost")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/sapi/v1/managed-subaccount/deposit"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.toEmail == nil {
		return localVarReturnValue, nil, reportError("toEmail is required and must be specified")
	}
	if r.asset == nil {
		return localVarReturnValue, nil, reportError("asset is required and must be specified")
	}
	if r.amount == nil {
		return localVarReturnValue, nil, reportError("amount is required and must be specified")
	}
	if r.timestamp == nil {
		return localVarReturnValue, nil, reportError("timestamp is required and must be specified")
	}
	if r.signature == nil {
		return localVarReturnValue, nil, reportError("signature is required and must be specified")
	}

	localVarQueryParams.Add("toEmail", parameterToString(*r.toEmail, ""))
	localVarQueryParams.Add("asset", parameterToString(*r.asset, ""))
	localVarQueryParams.Add("amount", parameterToString(*r.amount, ""))
	if r.recvWindow != nil {
		localVarQueryParams.Add("recvWindow", parameterToString(*r.recvWindow, ""))
	}
	localVarQueryParams.Add("timestamp", parameterToString(*r.timestamp, ""))
	localVarQueryParams.Add("signature", parameterToString(*r.signature, ""))
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-MBX-APIKEY"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ModelError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ModelError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSapiV1ManagedSubaccountWithdrawPostRequest struct {
	ctx _context.Context
	ApiService *SubAccountApiService
	fromEmail *string
	asset *string
	amount *float64
	timestamp *int64
	signature *string
	transferDate *int64
	recvWindow *int64
}

// Sender email
func (r ApiSapiV1ManagedSubaccountWithdrawPostRequest) FromEmail(fromEmail string) ApiSapiV1ManagedSubaccountWithdrawPostRequest {
	r.fromEmail = &fromEmail
	return r
}
func (r ApiSapiV1ManagedSubaccountWithdrawPostRequest) Asset(asset string) ApiSapiV1ManagedSubaccountWithdrawPostRequest {
	r.asset = &asset
	return r
}
func (r ApiSapiV1ManagedSubaccountWithdrawPostRequest) Amount(amount float64) ApiSapiV1ManagedSubaccountWithdrawPostRequest {
	r.amount = &amount
	return r
}
// UTC timestamp in ms
func (r ApiSapiV1ManagedSubaccountWithdrawPostRequest) Timestamp(timestamp int64) ApiSapiV1ManagedSubaccountWithdrawPostRequest {
	r.timestamp = &timestamp
	return r
}
// Signature
func (r ApiSapiV1ManagedSubaccountWithdrawPostRequest) Signature(signature string) ApiSapiV1ManagedSubaccountWithdrawPostRequest {
	r.signature = &signature
	return r
}
// Withdrawals is automatically occur on the transfer date(UTC0). If a date is not selected, the withdrawal occurs right now
func (r ApiSapiV1ManagedSubaccountWithdrawPostRequest) TransferDate(transferDate int64) ApiSapiV1ManagedSubaccountWithdrawPostRequest {
	r.transferDate = &transferDate
	return r
}
// The value cannot be greater than 60000
func (r ApiSapiV1ManagedSubaccountWithdrawPostRequest) RecvWindow(recvWindow int64) ApiSapiV1ManagedSubaccountWithdrawPostRequest {
	r.recvWindow = &recvWindow
	return r
}

func (r ApiSapiV1ManagedSubaccountWithdrawPostRequest) Execute() (InlineResponse20068, *_nethttp.Response, error) {
	return r.ApiService.SapiV1ManagedSubaccountWithdrawPostExecute(r)
}

/*
SapiV1ManagedSubaccountWithdrawPost Withdrawl assets from the managed sub-account（For Investor Master Account)

Weight(IP): 1

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiSapiV1ManagedSubaccountWithdrawPostRequest
*/
func (a *SubAccountApiService) SapiV1ManagedSubaccountWithdrawPost(ctx _context.Context) ApiSapiV1ManagedSubaccountWithdrawPostRequest {
	return ApiSapiV1ManagedSubaccountWithdrawPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return InlineResponse20068
func (a *SubAccountApiService) SapiV1ManagedSubaccountWithdrawPostExecute(r ApiSapiV1ManagedSubaccountWithdrawPostRequest) (InlineResponse20068, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPost
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  InlineResponse20068
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SubAccountApiService.SapiV1ManagedSubaccountWithdrawPost")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/sapi/v1/managed-subaccount/withdraw"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.fromEmail == nil {
		return localVarReturnValue, nil, reportError("fromEmail is required and must be specified")
	}
	if r.asset == nil {
		return localVarReturnValue, nil, reportError("asset is required and must be specified")
	}
	if r.amount == nil {
		return localVarReturnValue, nil, reportError("amount is required and must be specified")
	}
	if r.timestamp == nil {
		return localVarReturnValue, nil, reportError("timestamp is required and must be specified")
	}
	if r.signature == nil {
		return localVarReturnValue, nil, reportError("signature is required and must be specified")
	}

	localVarQueryParams.Add("fromEmail", parameterToString(*r.fromEmail, ""))
	localVarQueryParams.Add("asset", parameterToString(*r.asset, ""))
	localVarQueryParams.Add("amount", parameterToString(*r.amount, ""))
	if r.transferDate != nil {
		localVarQueryParams.Add("transferDate", parameterToString(*r.transferDate, ""))
	}
	if r.recvWindow != nil {
		localVarQueryParams.Add("recvWindow", parameterToString(*r.recvWindow, ""))
	}
	localVarQueryParams.Add("timestamp", parameterToString(*r.timestamp, ""))
	localVarQueryParams.Add("signature", parameterToString(*r.signature, ""))
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-MBX-APIKEY"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ModelError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ModelError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSapiV1SubAccountBlvtEnablePostRequest struct {
	ctx _context.Context
	ApiService *SubAccountApiService
	email *string
	enableBlvt *bool
	timestamp *int64
	signature *string
	recvWindow *int64
}

// Sub-account email
func (r ApiSapiV1SubAccountBlvtEnablePostRequest) Email(email string) ApiSapiV1SubAccountBlvtEnablePostRequest {
	r.email = &email
	return r
}
// Only true for now
func (r ApiSapiV1SubAccountBlvtEnablePostRequest) EnableBlvt(enableBlvt bool) ApiSapiV1SubAccountBlvtEnablePostRequest {
	r.enableBlvt = &enableBlvt
	return r
}
// UTC timestamp in ms
func (r ApiSapiV1SubAccountBlvtEnablePostRequest) Timestamp(timestamp int64) ApiSapiV1SubAccountBlvtEnablePostRequest {
	r.timestamp = &timestamp
	return r
}
// Signature
func (r ApiSapiV1SubAccountBlvtEnablePostRequest) Signature(signature string) ApiSapiV1SubAccountBlvtEnablePostRequest {
	r.signature = &signature
	return r
}
// The value cannot be greater than 60000
func (r ApiSapiV1SubAccountBlvtEnablePostRequest) RecvWindow(recvWindow int64) ApiSapiV1SubAccountBlvtEnablePostRequest {
	r.recvWindow = &recvWindow
	return r
}

func (r ApiSapiV1SubAccountBlvtEnablePostRequest) Execute() (InlineResponse20067, *_nethttp.Response, error) {
	return r.ApiService.SapiV1SubAccountBlvtEnablePostExecute(r)
}

/*
SapiV1SubAccountBlvtEnablePost Enable Leverage Token for Sub-account (For Master Account)

Weight(IP): 1

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiSapiV1SubAccountBlvtEnablePostRequest
*/
func (a *SubAccountApiService) SapiV1SubAccountBlvtEnablePost(ctx _context.Context) ApiSapiV1SubAccountBlvtEnablePostRequest {
	return ApiSapiV1SubAccountBlvtEnablePostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return InlineResponse20067
func (a *SubAccountApiService) SapiV1SubAccountBlvtEnablePostExecute(r ApiSapiV1SubAccountBlvtEnablePostRequest) (InlineResponse20067, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPost
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  InlineResponse20067
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SubAccountApiService.SapiV1SubAccountBlvtEnablePost")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/sapi/v1/sub-account/blvt/enable"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.email == nil {
		return localVarReturnValue, nil, reportError("email is required and must be specified")
	}
	if r.enableBlvt == nil {
		return localVarReturnValue, nil, reportError("enableBlvt is required and must be specified")
	}
	if r.timestamp == nil {
		return localVarReturnValue, nil, reportError("timestamp is required and must be specified")
	}
	if r.signature == nil {
		return localVarReturnValue, nil, reportError("signature is required and must be specified")
	}

	localVarQueryParams.Add("email", parameterToString(*r.email, ""))
	localVarQueryParams.Add("enableBlvt", parameterToString(*r.enableBlvt, ""))
	if r.recvWindow != nil {
		localVarQueryParams.Add("recvWindow", parameterToString(*r.recvWindow, ""))
	}
	localVarQueryParams.Add("timestamp", parameterToString(*r.timestamp, ""))
	localVarQueryParams.Add("signature", parameterToString(*r.signature, ""))
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-MBX-APIKEY"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ModelError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ModelError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSapiV1SubAccountFuturesAccountGetRequest struct {
	ctx _context.Context
	ApiService *SubAccountApiService
	email *string
	timestamp *int64
	signature *string
	recvWindow *int64
}

// Sub-account email
func (r ApiSapiV1SubAccountFuturesAccountGetRequest) Email(email string) ApiSapiV1SubAccountFuturesAccountGetRequest {
	r.email = &email
	return r
}
// UTC timestamp in ms
func (r ApiSapiV1SubAccountFuturesAccountGetRequest) Timestamp(timestamp int64) ApiSapiV1SubAccountFuturesAccountGetRequest {
	r.timestamp = &timestamp
	return r
}
// Signature
func (r ApiSapiV1SubAccountFuturesAccountGetRequest) Signature(signature string) ApiSapiV1SubAccountFuturesAccountGetRequest {
	r.signature = &signature
	return r
}
// The value cannot be greater than 60000
func (r ApiSapiV1SubAccountFuturesAccountGetRequest) RecvWindow(recvWindow int64) ApiSapiV1SubAccountFuturesAccountGetRequest {
	r.recvWindow = &recvWindow
	return r
}

func (r ApiSapiV1SubAccountFuturesAccountGetRequest) Execute() (InlineResponse20060, *_nethttp.Response, error) {
	return r.ApiService.SapiV1SubAccountFuturesAccountGetExecute(r)
}

/*
SapiV1SubAccountFuturesAccountGet Detail on Sub-account's Futures Account (For Master Account)

Weight(IP): 10

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiSapiV1SubAccountFuturesAccountGetRequest
*/
func (a *SubAccountApiService) SapiV1SubAccountFuturesAccountGet(ctx _context.Context) ApiSapiV1SubAccountFuturesAccountGetRequest {
	return ApiSapiV1SubAccountFuturesAccountGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return InlineResponse20060
func (a *SubAccountApiService) SapiV1SubAccountFuturesAccountGetExecute(r ApiSapiV1SubAccountFuturesAccountGetRequest) (InlineResponse20060, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  InlineResponse20060
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SubAccountApiService.SapiV1SubAccountFuturesAccountGet")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/sapi/v1/sub-account/futures/account"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.email == nil {
		return localVarReturnValue, nil, reportError("email is required and must be specified")
	}
	if r.timestamp == nil {
		return localVarReturnValue, nil, reportError("timestamp is required and must be specified")
	}
	if r.signature == nil {
		return localVarReturnValue, nil, reportError("signature is required and must be specified")
	}

	localVarQueryParams.Add("email", parameterToString(*r.email, ""))
	if r.recvWindow != nil {
		localVarQueryParams.Add("recvWindow", parameterToString(*r.recvWindow, ""))
	}
	localVarQueryParams.Add("timestamp", parameterToString(*r.timestamp, ""))
	localVarQueryParams.Add("signature", parameterToString(*r.signature, ""))
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-MBX-APIKEY"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ModelError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ModelError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSapiV1SubAccountFuturesAccountSummaryGetRequest struct {
	ctx _context.Context
	ApiService *SubAccountApiService
	timestamp *int64
	signature *string
	recvWindow *int64
}

// UTC timestamp in ms
func (r ApiSapiV1SubAccountFuturesAccountSummaryGetRequest) Timestamp(timestamp int64) ApiSapiV1SubAccountFuturesAccountSummaryGetRequest {
	r.timestamp = &timestamp
	return r
}
// Signature
func (r ApiSapiV1SubAccountFuturesAccountSummaryGetRequest) Signature(signature string) ApiSapiV1SubAccountFuturesAccountSummaryGetRequest {
	r.signature = &signature
	return r
}
// The value cannot be greater than 60000
func (r ApiSapiV1SubAccountFuturesAccountSummaryGetRequest) RecvWindow(recvWindow int64) ApiSapiV1SubAccountFuturesAccountSummaryGetRequest {
	r.recvWindow = &recvWindow
	return r
}

func (r ApiSapiV1SubAccountFuturesAccountSummaryGetRequest) Execute() (InlineResponse20061, *_nethttp.Response, error) {
	return r.ApiService.SapiV1SubAccountFuturesAccountSummaryGetExecute(r)
}

/*
SapiV1SubAccountFuturesAccountSummaryGet Summary of Sub-account's Futures Account (For Master Account)

Weight(IP): 1

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiSapiV1SubAccountFuturesAccountSummaryGetRequest
*/
func (a *SubAccountApiService) SapiV1SubAccountFuturesAccountSummaryGet(ctx _context.Context) ApiSapiV1SubAccountFuturesAccountSummaryGetRequest {
	return ApiSapiV1SubAccountFuturesAccountSummaryGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return InlineResponse20061
func (a *SubAccountApiService) SapiV1SubAccountFuturesAccountSummaryGetExecute(r ApiSapiV1SubAccountFuturesAccountSummaryGetRequest) (InlineResponse20061, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  InlineResponse20061
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SubAccountApiService.SapiV1SubAccountFuturesAccountSummaryGet")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/sapi/v1/sub-account/futures/accountSummary"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.timestamp == nil {
		return localVarReturnValue, nil, reportError("timestamp is required and must be specified")
	}
	if r.signature == nil {
		return localVarReturnValue, nil, reportError("signature is required and must be specified")
	}

	if r.recvWindow != nil {
		localVarQueryParams.Add("recvWindow", parameterToString(*r.recvWindow, ""))
	}
	localVarQueryParams.Add("timestamp", parameterToString(*r.timestamp, ""))
	localVarQueryParams.Add("signature", parameterToString(*r.signature, ""))
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-MBX-APIKEY"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ModelError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ModelError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSapiV1SubAccountFuturesEnablePostRequest struct {
	ctx _context.Context
	ApiService *SubAccountApiService
	email *string
	timestamp *int64
	signature *string
	recvWindow *int64
}

// Sub-account email
func (r ApiSapiV1SubAccountFuturesEnablePostRequest) Email(email string) ApiSapiV1SubAccountFuturesEnablePostRequest {
	r.email = &email
	return r
}
// UTC timestamp in ms
func (r ApiSapiV1SubAccountFuturesEnablePostRequest) Timestamp(timestamp int64) ApiSapiV1SubAccountFuturesEnablePostRequest {
	r.timestamp = &timestamp
	return r
}
// Signature
func (r ApiSapiV1SubAccountFuturesEnablePostRequest) Signature(signature string) ApiSapiV1SubAccountFuturesEnablePostRequest {
	r.signature = &signature
	return r
}
// The value cannot be greater than 60000
func (r ApiSapiV1SubAccountFuturesEnablePostRequest) RecvWindow(recvWindow int64) ApiSapiV1SubAccountFuturesEnablePostRequest {
	r.recvWindow = &recvWindow
	return r
}

func (r ApiSapiV1SubAccountFuturesEnablePostRequest) Execute() (InlineResponse20059, *_nethttp.Response, error) {
	return r.ApiService.SapiV1SubAccountFuturesEnablePostExecute(r)
}

/*
SapiV1SubAccountFuturesEnablePost Enable Futures for Sub-account (For Master Account)

Weight(IP): 1

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiSapiV1SubAccountFuturesEnablePostRequest
*/
func (a *SubAccountApiService) SapiV1SubAccountFuturesEnablePost(ctx _context.Context) ApiSapiV1SubAccountFuturesEnablePostRequest {
	return ApiSapiV1SubAccountFuturesEnablePostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return InlineResponse20059
func (a *SubAccountApiService) SapiV1SubAccountFuturesEnablePostExecute(r ApiSapiV1SubAccountFuturesEnablePostRequest) (InlineResponse20059, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPost
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  InlineResponse20059
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SubAccountApiService.SapiV1SubAccountFuturesEnablePost")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/sapi/v1/sub-account/futures/enable"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.email == nil {
		return localVarReturnValue, nil, reportError("email is required and must be specified")
	}
	if r.timestamp == nil {
		return localVarReturnValue, nil, reportError("timestamp is required and must be specified")
	}
	if r.signature == nil {
		return localVarReturnValue, nil, reportError("signature is required and must be specified")
	}

	localVarQueryParams.Add("email", parameterToString(*r.email, ""))
	if r.recvWindow != nil {
		localVarQueryParams.Add("recvWindow", parameterToString(*r.recvWindow, ""))
	}
	localVarQueryParams.Add("timestamp", parameterToString(*r.timestamp, ""))
	localVarQueryParams.Add("signature", parameterToString(*r.signature, ""))
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-MBX-APIKEY"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ModelError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ModelError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSapiV1SubAccountFuturesInternalTransferGetRequest struct {
	ctx _context.Context
	ApiService *SubAccountApiService
	email *string
	futuresType *int32
	timestamp *int64
	signature *string
	startTime *int64
	endTime *int64
	page *int32
	limit *int32
	recvWindow *int64
}

// Sub-account email
func (r ApiSapiV1SubAccountFuturesInternalTransferGetRequest) Email(email string) ApiSapiV1SubAccountFuturesInternalTransferGetRequest {
	r.email = &email
	return r
}
// 1:USDT-margined Futures, 2: Coin-margined Futures
func (r ApiSapiV1SubAccountFuturesInternalTransferGetRequest) FuturesType(futuresType int32) ApiSapiV1SubAccountFuturesInternalTransferGetRequest {
	r.futuresType = &futuresType
	return r
}
// UTC timestamp in ms
func (r ApiSapiV1SubAccountFuturesInternalTransferGetRequest) Timestamp(timestamp int64) ApiSapiV1SubAccountFuturesInternalTransferGetRequest {
	r.timestamp = &timestamp
	return r
}
// Signature
func (r ApiSapiV1SubAccountFuturesInternalTransferGetRequest) Signature(signature string) ApiSapiV1SubAccountFuturesInternalTransferGetRequest {
	r.signature = &signature
	return r
}
// UTC timestamp in ms
func (r ApiSapiV1SubAccountFuturesInternalTransferGetRequest) StartTime(startTime int64) ApiSapiV1SubAccountFuturesInternalTransferGetRequest {
	r.startTime = &startTime
	return r
}
// UTC timestamp in ms
func (r ApiSapiV1SubAccountFuturesInternalTransferGetRequest) EndTime(endTime int64) ApiSapiV1SubAccountFuturesInternalTransferGetRequest {
	r.endTime = &endTime
	return r
}
// Default 1
func (r ApiSapiV1SubAccountFuturesInternalTransferGetRequest) Page(page int32) ApiSapiV1SubAccountFuturesInternalTransferGetRequest {
	r.page = &page
	return r
}
// Default value: 50, Max value: 500
func (r ApiSapiV1SubAccountFuturesInternalTransferGetRequest) Limit(limit int32) ApiSapiV1SubAccountFuturesInternalTransferGetRequest {
	r.limit = &limit
	return r
}
// The value cannot be greater than 60000
func (r ApiSapiV1SubAccountFuturesInternalTransferGetRequest) RecvWindow(recvWindow int64) ApiSapiV1SubAccountFuturesInternalTransferGetRequest {
	r.recvWindow = &recvWindow
	return r
}

func (r ApiSapiV1SubAccountFuturesInternalTransferGetRequest) Execute() (InlineResponse20049, *_nethttp.Response, error) {
	return r.ApiService.SapiV1SubAccountFuturesInternalTransferGetExecute(r)
}

/*
SapiV1SubAccountFuturesInternalTransferGet Sub-account Futures Asset Transfer History (For Master Account)

Weight(IP): 1

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiSapiV1SubAccountFuturesInternalTransferGetRequest
*/
func (a *SubAccountApiService) SapiV1SubAccountFuturesInternalTransferGet(ctx _context.Context) ApiSapiV1SubAccountFuturesInternalTransferGetRequest {
	return ApiSapiV1SubAccountFuturesInternalTransferGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return InlineResponse20049
func (a *SubAccountApiService) SapiV1SubAccountFuturesInternalTransferGetExecute(r ApiSapiV1SubAccountFuturesInternalTransferGetRequest) (InlineResponse20049, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  InlineResponse20049
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SubAccountApiService.SapiV1SubAccountFuturesInternalTransferGet")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/sapi/v1/sub-account/futures/internalTransfer"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.email == nil {
		return localVarReturnValue, nil, reportError("email is required and must be specified")
	}
	if r.futuresType == nil {
		return localVarReturnValue, nil, reportError("futuresType is required and must be specified")
	}
	if r.timestamp == nil {
		return localVarReturnValue, nil, reportError("timestamp is required and must be specified")
	}
	if r.signature == nil {
		return localVarReturnValue, nil, reportError("signature is required and must be specified")
	}

	localVarQueryParams.Add("email", parameterToString(*r.email, ""))
	localVarQueryParams.Add("futuresType", parameterToString(*r.futuresType, ""))
	if r.startTime != nil {
		localVarQueryParams.Add("startTime", parameterToString(*r.startTime, ""))
	}
	if r.endTime != nil {
		localVarQueryParams.Add("endTime", parameterToString(*r.endTime, ""))
	}
	if r.page != nil {
		localVarQueryParams.Add("page", parameterToString(*r.page, ""))
	}
	if r.limit != nil {
		localVarQueryParams.Add("limit", parameterToString(*r.limit, ""))
	}
	if r.recvWindow != nil {
		localVarQueryParams.Add("recvWindow", parameterToString(*r.recvWindow, ""))
	}
	localVarQueryParams.Add("timestamp", parameterToString(*r.timestamp, ""))
	localVarQueryParams.Add("signature", parameterToString(*r.signature, ""))
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-MBX-APIKEY"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ModelError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ModelError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSapiV1SubAccountFuturesInternalTransferPostRequest struct {
	ctx _context.Context
	ApiService *SubAccountApiService
	fromEmail *string
	toEmail *string
	futuresType *int32
	asset *string
	amount *float64
	timestamp *int64
	signature *string
	recvWindow *int64
}

// Sender email
func (r ApiSapiV1SubAccountFuturesInternalTransferPostRequest) FromEmail(fromEmail string) ApiSapiV1SubAccountFuturesInternalTransferPostRequest {
	r.fromEmail = &fromEmail
	return r
}
// Recipient email
func (r ApiSapiV1SubAccountFuturesInternalTransferPostRequest) ToEmail(toEmail string) ApiSapiV1SubAccountFuturesInternalTransferPostRequest {
	r.toEmail = &toEmail
	return r
}
// 1:USDT-margined Futures,2: Coin-margined Futures
func (r ApiSapiV1SubAccountFuturesInternalTransferPostRequest) FuturesType(futuresType int32) ApiSapiV1SubAccountFuturesInternalTransferPostRequest {
	r.futuresType = &futuresType
	return r
}
func (r ApiSapiV1SubAccountFuturesInternalTransferPostRequest) Asset(asset string) ApiSapiV1SubAccountFuturesInternalTransferPostRequest {
	r.asset = &asset
	return r
}
func (r ApiSapiV1SubAccountFuturesInternalTransferPostRequest) Amount(amount float64) ApiSapiV1SubAccountFuturesInternalTransferPostRequest {
	r.amount = &amount
	return r
}
// UTC timestamp in ms
func (r ApiSapiV1SubAccountFuturesInternalTransferPostRequest) Timestamp(timestamp int64) ApiSapiV1SubAccountFuturesInternalTransferPostRequest {
	r.timestamp = &timestamp
	return r
}
// Signature
func (r ApiSapiV1SubAccountFuturesInternalTransferPostRequest) Signature(signature string) ApiSapiV1SubAccountFuturesInternalTransferPostRequest {
	r.signature = &signature
	return r
}
// The value cannot be greater than 60000
func (r ApiSapiV1SubAccountFuturesInternalTransferPostRequest) RecvWindow(recvWindow int64) ApiSapiV1SubAccountFuturesInternalTransferPostRequest {
	r.recvWindow = &recvWindow
	return r
}

func (r ApiSapiV1SubAccountFuturesInternalTransferPostRequest) Execute() (InlineResponse20050, *_nethttp.Response, error) {
	return r.ApiService.SapiV1SubAccountFuturesInternalTransferPostExecute(r)
}

/*
SapiV1SubAccountFuturesInternalTransferPost Sub-account Futures Asset Transfer (For Master Account)

- Master account can transfer max 2000 times a minute

Weight(IP): 1

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiSapiV1SubAccountFuturesInternalTransferPostRequest
*/
func (a *SubAccountApiService) SapiV1SubAccountFuturesInternalTransferPost(ctx _context.Context) ApiSapiV1SubAccountFuturesInternalTransferPostRequest {
	return ApiSapiV1SubAccountFuturesInternalTransferPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return InlineResponse20050
func (a *SubAccountApiService) SapiV1SubAccountFuturesInternalTransferPostExecute(r ApiSapiV1SubAccountFuturesInternalTransferPostRequest) (InlineResponse20050, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPost
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  InlineResponse20050
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SubAccountApiService.SapiV1SubAccountFuturesInternalTransferPost")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/sapi/v1/sub-account/futures/internalTransfer"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.fromEmail == nil {
		return localVarReturnValue, nil, reportError("fromEmail is required and must be specified")
	}
	if r.toEmail == nil {
		return localVarReturnValue, nil, reportError("toEmail is required and must be specified")
	}
	if r.futuresType == nil {
		return localVarReturnValue, nil, reportError("futuresType is required and must be specified")
	}
	if r.asset == nil {
		return localVarReturnValue, nil, reportError("asset is required and must be specified")
	}
	if r.amount == nil {
		return localVarReturnValue, nil, reportError("amount is required and must be specified")
	}
	if r.timestamp == nil {
		return localVarReturnValue, nil, reportError("timestamp is required and must be specified")
	}
	if r.signature == nil {
		return localVarReturnValue, nil, reportError("signature is required and must be specified")
	}

	localVarQueryParams.Add("fromEmail", parameterToString(*r.fromEmail, ""))
	localVarQueryParams.Add("toEmail", parameterToString(*r.toEmail, ""))
	localVarQueryParams.Add("futuresType", parameterToString(*r.futuresType, ""))
	localVarQueryParams.Add("asset", parameterToString(*r.asset, ""))
	localVarQueryParams.Add("amount", parameterToString(*r.amount, ""))
	if r.recvWindow != nil {
		localVarQueryParams.Add("recvWindow", parameterToString(*r.recvWindow, ""))
	}
	localVarQueryParams.Add("timestamp", parameterToString(*r.timestamp, ""))
	localVarQueryParams.Add("signature", parameterToString(*r.signature, ""))
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-MBX-APIKEY"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ModelError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ModelError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSapiV1SubAccountFuturesPositionRiskGetRequest struct {
	ctx _context.Context
	ApiService *SubAccountApiService
	email *string
	timestamp *int64
	signature *string
	recvWindow *int64
}

// Sub-account email
func (r ApiSapiV1SubAccountFuturesPositionRiskGetRequest) Email(email string) ApiSapiV1SubAccountFuturesPositionRiskGetRequest {
	r.email = &email
	return r
}
// UTC timestamp in ms
func (r ApiSapiV1SubAccountFuturesPositionRiskGetRequest) Timestamp(timestamp int64) ApiSapiV1SubAccountFuturesPositionRiskGetRequest {
	r.timestamp = &timestamp
	return r
}
// Signature
func (r ApiSapiV1SubAccountFuturesPositionRiskGetRequest) Signature(signature string) ApiSapiV1SubAccountFuturesPositionRiskGetRequest {
	r.signature = &signature
	return r
}
// The value cannot be greater than 60000
func (r ApiSapiV1SubAccountFuturesPositionRiskGetRequest) RecvWindow(recvWindow int64) ApiSapiV1SubAccountFuturesPositionRiskGetRequest {
	r.recvWindow = &recvWindow
	return r
}

func (r ApiSapiV1SubAccountFuturesPositionRiskGetRequest) Execute() ([]InlineResponse20062, *_nethttp.Response, error) {
	return r.ApiService.SapiV1SubAccountFuturesPositionRiskGetExecute(r)
}

/*
SapiV1SubAccountFuturesPositionRiskGet Futures Position-Risk of Sub-account (For Master Account)

Weight(IP): 10

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiSapiV1SubAccountFuturesPositionRiskGetRequest
*/
func (a *SubAccountApiService) SapiV1SubAccountFuturesPositionRiskGet(ctx _context.Context) ApiSapiV1SubAccountFuturesPositionRiskGetRequest {
	return ApiSapiV1SubAccountFuturesPositionRiskGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []InlineResponse20062
func (a *SubAccountApiService) SapiV1SubAccountFuturesPositionRiskGetExecute(r ApiSapiV1SubAccountFuturesPositionRiskGetRequest) ([]InlineResponse20062, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  []InlineResponse20062
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SubAccountApiService.SapiV1SubAccountFuturesPositionRiskGet")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/sapi/v1/sub-account/futures/positionRisk"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.email == nil {
		return localVarReturnValue, nil, reportError("email is required and must be specified")
	}
	if r.timestamp == nil {
		return localVarReturnValue, nil, reportError("timestamp is required and must be specified")
	}
	if r.signature == nil {
		return localVarReturnValue, nil, reportError("signature is required and must be specified")
	}

	localVarQueryParams.Add("email", parameterToString(*r.email, ""))
	if r.recvWindow != nil {
		localVarQueryParams.Add("recvWindow", parameterToString(*r.recvWindow, ""))
	}
	localVarQueryParams.Add("timestamp", parameterToString(*r.timestamp, ""))
	localVarQueryParams.Add("signature", parameterToString(*r.signature, ""))
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-MBX-APIKEY"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ModelError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ModelError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSapiV1SubAccountFuturesTransferPostRequest struct {
	ctx _context.Context
	ApiService *SubAccountApiService
	email *string
	asset *string
	amount *float64
	type_ *int32
	timestamp *int64
	signature *string
	recvWindow *int64
}

// Sub-account email
func (r ApiSapiV1SubAccountFuturesTransferPostRequest) Email(email string) ApiSapiV1SubAccountFuturesTransferPostRequest {
	r.email = &email
	return r
}
func (r ApiSapiV1SubAccountFuturesTransferPostRequest) Asset(asset string) ApiSapiV1SubAccountFuturesTransferPostRequest {
	r.asset = &asset
	return r
}
func (r ApiSapiV1SubAccountFuturesTransferPostRequest) Amount(amount float64) ApiSapiV1SubAccountFuturesTransferPostRequest {
	r.amount = &amount
	return r
}
// 1: transfer from subaccount&#39;s spot account to its USDT-margined futures account  2: transfer from subaccount&#39;s USDT-margined futures account to its spot account  3: transfer from subaccount&#39;s spot account to its COIN-margined futures account  4:transfer from subaccount&#39;s COIN-margined futures account to its spot account
func (r ApiSapiV1SubAccountFuturesTransferPostRequest) Type_(type_ int32) ApiSapiV1SubAccountFuturesTransferPostRequest {
	r.type_ = &type_
	return r
}
// UTC timestamp in ms
func (r ApiSapiV1SubAccountFuturesTransferPostRequest) Timestamp(timestamp int64) ApiSapiV1SubAccountFuturesTransferPostRequest {
	r.timestamp = &timestamp
	return r
}
// Signature
func (r ApiSapiV1SubAccountFuturesTransferPostRequest) Signature(signature string) ApiSapiV1SubAccountFuturesTransferPostRequest {
	r.signature = &signature
	return r
}
// The value cannot be greater than 60000
func (r ApiSapiV1SubAccountFuturesTransferPostRequest) RecvWindow(recvWindow int64) ApiSapiV1SubAccountFuturesTransferPostRequest {
	r.recvWindow = &recvWindow
	return r
}

func (r ApiSapiV1SubAccountFuturesTransferPostRequest) Execute() (InlineResponse20063, *_nethttp.Response, error) {
	return r.ApiService.SapiV1SubAccountFuturesTransferPostExecute(r)
}

/*
SapiV1SubAccountFuturesTransferPost Transfer for Sub-account (For Master Account)

Weight(IP): 1

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiSapiV1SubAccountFuturesTransferPostRequest
*/
func (a *SubAccountApiService) SapiV1SubAccountFuturesTransferPost(ctx _context.Context) ApiSapiV1SubAccountFuturesTransferPostRequest {
	return ApiSapiV1SubAccountFuturesTransferPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return InlineResponse20063
func (a *SubAccountApiService) SapiV1SubAccountFuturesTransferPostExecute(r ApiSapiV1SubAccountFuturesTransferPostRequest) (InlineResponse20063, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPost
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  InlineResponse20063
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SubAccountApiService.SapiV1SubAccountFuturesTransferPost")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/sapi/v1/sub-account/futures/transfer"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.email == nil {
		return localVarReturnValue, nil, reportError("email is required and must be specified")
	}
	if r.asset == nil {
		return localVarReturnValue, nil, reportError("asset is required and must be specified")
	}
	if r.amount == nil {
		return localVarReturnValue, nil, reportError("amount is required and must be specified")
	}
	if r.type_ == nil {
		return localVarReturnValue, nil, reportError("type_ is required and must be specified")
	}
	if r.timestamp == nil {
		return localVarReturnValue, nil, reportError("timestamp is required and must be specified")
	}
	if r.signature == nil {
		return localVarReturnValue, nil, reportError("signature is required and must be specified")
	}

	localVarQueryParams.Add("email", parameterToString(*r.email, ""))
	localVarQueryParams.Add("asset", parameterToString(*r.asset, ""))
	localVarQueryParams.Add("amount", parameterToString(*r.amount, ""))
	localVarQueryParams.Add("type", parameterToString(*r.type_, ""))
	if r.recvWindow != nil {
		localVarQueryParams.Add("recvWindow", parameterToString(*r.recvWindow, ""))
	}
	localVarQueryParams.Add("timestamp", parameterToString(*r.timestamp, ""))
	localVarQueryParams.Add("signature", parameterToString(*r.signature, ""))
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-MBX-APIKEY"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ModelError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ModelError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSapiV1SubAccountListGetRequest struct {
	ctx _context.Context
	ApiService *SubAccountApiService
	timestamp *int64
	signature *string
	email *string
	isFreeze *string
	page *int32
	limit *int32
	recvWindow *int64
}

// UTC timestamp in ms
func (r ApiSapiV1SubAccountListGetRequest) Timestamp(timestamp int64) ApiSapiV1SubAccountListGetRequest {
	r.timestamp = &timestamp
	return r
}
// Signature
func (r ApiSapiV1SubAccountListGetRequest) Signature(signature string) ApiSapiV1SubAccountListGetRequest {
	r.signature = &signature
	return r
}
// Sub-account email
func (r ApiSapiV1SubAccountListGetRequest) Email(email string) ApiSapiV1SubAccountListGetRequest {
	r.email = &email
	return r
}
func (r ApiSapiV1SubAccountListGetRequest) IsFreeze(isFreeze string) ApiSapiV1SubAccountListGetRequest {
	r.isFreeze = &isFreeze
	return r
}
// Default 1
func (r ApiSapiV1SubAccountListGetRequest) Page(page int32) ApiSapiV1SubAccountListGetRequest {
	r.page = &page
	return r
}
// Default 1; max 200
func (r ApiSapiV1SubAccountListGetRequest) Limit(limit int32) ApiSapiV1SubAccountListGetRequest {
	r.limit = &limit
	return r
}
// The value cannot be greater than 60000
func (r ApiSapiV1SubAccountListGetRequest) RecvWindow(recvWindow int64) ApiSapiV1SubAccountListGetRequest {
	r.recvWindow = &recvWindow
	return r
}

func (r ApiSapiV1SubAccountListGetRequest) Execute() (InlineResponse20047, *_nethttp.Response, error) {
	return r.ApiService.SapiV1SubAccountListGetExecute(r)
}

/*
SapiV1SubAccountListGet Query Sub-account List (For Master Account)

Weight(IP): 1

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiSapiV1SubAccountListGetRequest
*/
func (a *SubAccountApiService) SapiV1SubAccountListGet(ctx _context.Context) ApiSapiV1SubAccountListGetRequest {
	return ApiSapiV1SubAccountListGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return InlineResponse20047
func (a *SubAccountApiService) SapiV1SubAccountListGetExecute(r ApiSapiV1SubAccountListGetRequest) (InlineResponse20047, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  InlineResponse20047
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SubAccountApiService.SapiV1SubAccountListGet")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/sapi/v1/sub-account/list"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.timestamp == nil {
		return localVarReturnValue, nil, reportError("timestamp is required and must be specified")
	}
	if r.signature == nil {
		return localVarReturnValue, nil, reportError("signature is required and must be specified")
	}

	if r.email != nil {
		localVarQueryParams.Add("email", parameterToString(*r.email, ""))
	}
	if r.isFreeze != nil {
		localVarQueryParams.Add("isFreeze", parameterToString(*r.isFreeze, ""))
	}
	if r.page != nil {
		localVarQueryParams.Add("page", parameterToString(*r.page, ""))
	}
	if r.limit != nil {
		localVarQueryParams.Add("limit", parameterToString(*r.limit, ""))
	}
	if r.recvWindow != nil {
		localVarQueryParams.Add("recvWindow", parameterToString(*r.recvWindow, ""))
	}
	localVarQueryParams.Add("timestamp", parameterToString(*r.timestamp, ""))
	localVarQueryParams.Add("signature", parameterToString(*r.signature, ""))
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-MBX-APIKEY"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ModelError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ModelError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSapiV1SubAccountMarginAccountGetRequest struct {
	ctx _context.Context
	ApiService *SubAccountApiService
	email *string
	timestamp *int64
	signature *string
	recvWindow *int64
}

// Sub-account email
func (r ApiSapiV1SubAccountMarginAccountGetRequest) Email(email string) ApiSapiV1SubAccountMarginAccountGetRequest {
	r.email = &email
	return r
}
// UTC timestamp in ms
func (r ApiSapiV1SubAccountMarginAccountGetRequest) Timestamp(timestamp int64) ApiSapiV1SubAccountMarginAccountGetRequest {
	r.timestamp = &timestamp
	return r
}
// Signature
func (r ApiSapiV1SubAccountMarginAccountGetRequest) Signature(signature string) ApiSapiV1SubAccountMarginAccountGetRequest {
	r.signature = &signature
	return r
}
// The value cannot be greater than 60000
func (r ApiSapiV1SubAccountMarginAccountGetRequest) RecvWindow(recvWindow int64) ApiSapiV1SubAccountMarginAccountGetRequest {
	r.recvWindow = &recvWindow
	return r
}

func (r ApiSapiV1SubAccountMarginAccountGetRequest) Execute() (InlineResponse20057, *_nethttp.Response, error) {
	return r.ApiService.SapiV1SubAccountMarginAccountGetExecute(r)
}

/*
SapiV1SubAccountMarginAccountGet Detail on Sub-account's Margin Account (For Master Account)

Weight(IP): 10

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiSapiV1SubAccountMarginAccountGetRequest
*/
func (a *SubAccountApiService) SapiV1SubAccountMarginAccountGet(ctx _context.Context) ApiSapiV1SubAccountMarginAccountGetRequest {
	return ApiSapiV1SubAccountMarginAccountGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return InlineResponse20057
func (a *SubAccountApiService) SapiV1SubAccountMarginAccountGetExecute(r ApiSapiV1SubAccountMarginAccountGetRequest) (InlineResponse20057, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  InlineResponse20057
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SubAccountApiService.SapiV1SubAccountMarginAccountGet")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/sapi/v1/sub-account/margin/account"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.email == nil {
		return localVarReturnValue, nil, reportError("email is required and must be specified")
	}
	if r.timestamp == nil {
		return localVarReturnValue, nil, reportError("timestamp is required and must be specified")
	}
	if r.signature == nil {
		return localVarReturnValue, nil, reportError("signature is required and must be specified")
	}

	localVarQueryParams.Add("email", parameterToString(*r.email, ""))
	if r.recvWindow != nil {
		localVarQueryParams.Add("recvWindow", parameterToString(*r.recvWindow, ""))
	}
	localVarQueryParams.Add("timestamp", parameterToString(*r.timestamp, ""))
	localVarQueryParams.Add("signature", parameterToString(*r.signature, ""))
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-MBX-APIKEY"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

[...]
