/*
Binance Public Spot API

OpenAPI Specifications for the Binance Public Spot API  API documents:   - [https://github.com/binance/binance-spot-api-docs](https://github.com/binance/binance-spot-api-docs)   - [https://binance-docs.github.io/apidocs/spot/en](https://binance-docs.github.io/apidocs/spot/en)

API version: 1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	_context "context"
	_ioutil "io/ioutil"
	_nethttp "net/http"
	_neturl "net/url"
)

// Linger please
var (
	_ _context.Context
)

// FiatApiService FiatApi service
type FiatApiService service

type ApiSapiV1FiatOrdersGetRequest struct {
	ctx _context.Context
	ApiService *FiatApiService
	transactionType *string
	timestamp *int64
	signature *string
	beginTime *int64
	endTime *int64
	page *int32
	rows *int32
	recvWindow *int64
}

// 0-deposit, 1-withdraw
func (r ApiSapiV1FiatOrdersGetRequest) TransactionType(transactionType string) ApiSapiV1FiatOrdersGetRequest {
	r.transactionType = &transactionType
	return r
}
// UTC timestamp in ms
func (r ApiSapiV1FiatOrdersGetRequest) Timestamp(timestamp int64) ApiSapiV1FiatOrdersGetRequest {
	r.timestamp = &timestamp
	return r
}
// Signature
func (r ApiSapiV1FiatOrdersGetRequest) Signature(signature string) ApiSapiV1FiatOrdersGetRequest {
	r.signature = &signature
	return r
}
func (r ApiSapiV1FiatOrdersGetRequest) BeginTime(beginTime int64) ApiSapiV1FiatOrdersGetRequest {
	r.beginTime = &beginTime
	return r
}
// UTC timestamp in ms
func (r ApiSapiV1FiatOrdersGetRequest) EndTime(endTime int64) ApiSapiV1FiatOrdersGetRequest {
	r.endTime = &endTime
	return r
}
// Default 1
func (r ApiSapiV1FiatOrdersGetRequest) Page(page int32) ApiSapiV1FiatOrdersGetRequest {
	r.page = &page
	return r
}
// Default 100, max 500
func (r ApiSapiV1FiatOrdersGetRequest) Rows(rows int32) ApiSapiV1FiatOrdersGetRequest {
	r.rows = &rows
	return r
}
// The value cannot be greater than 60000
func (r ApiSapiV1FiatOrdersGetRequest) RecvWindow(recvWindow int64) ApiSapiV1FiatOrdersGetRequest {
	r.recvWindow = &recvWindow
	return r
}

func (r ApiSapiV1FiatOrdersGetRequest) Execute() (InlineResponse20072, *_nethttp.Response, error) {
	return r.ApiService.SapiV1FiatOrdersGetExecute(r)
}

/*
SapiV1FiatOrdersGet Fiat Deposit/Withdraw History (USER_DATA)

- If beginTime and endTime are not sent, the recent 30-day data will be returned.

Weight(IP): 1

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiSapiV1FiatOrdersGetRequest
*/
func (a *FiatApiService) SapiV1FiatOrdersGet(ctx _context.Context) ApiSapiV1FiatOrdersGetRequest {
	return ApiSapiV1FiatOrdersGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return InlineResponse20072
func (a *FiatApiService) SapiV1FiatOrdersGetExecute(r ApiSapiV1FiatOrdersGetRequest) (InlineResponse20072, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  InlineResponse20072
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FiatApiService.SapiV1FiatOrdersGet")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/sapi/v1/fiat/orders"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.transactionType == nil {
		return localVarReturnValue, nil, reportError("transactionType is required and must be specified")
	}
	if r.timestamp == nil {
		return localVarReturnValue, nil, reportError("timestamp is required and must be specified")
	}
	if r.signature == nil {
		return localVarReturnValue, nil, reportError("signature is required and must be specified")
	}

	localVarQueryParams.Add("transactionType", parameterToString(*r.transactionType, ""))
	if r.beginTime != nil {
		localVarQueryParams.Add("beginTime", parameterToString(*r.beginTime, ""))
	}
	if r.endTime != nil {
		localVarQueryParams.Add("endTime", parameterToString(*r.endTime, ""))
	}
	if r.page != nil {
		localVarQueryParams.Add("page", parameterToString(*r.page, ""))
	}
	if r.rows != nil {
		localVarQueryParams.Add("rows", parameterToString(*r.rows, ""))
	}
	if r.recvWindow != nil {
		localVarQueryParams.Add("recvWindow", parameterToString(*r.recvWindow, ""))
	}
	localVarQueryParams.Add("timestamp", parameterToString(*r.timestamp, ""))
	localVarQueryParams.Add("signature", parameterToString(*r.signature, ""))
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-MBX-APIKEY"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ModelError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ModelError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSapiV1FiatPaymentsGetRequest struct {
	ctx _context.Context
	ApiService *FiatApiService
	transactionType *string
	timestamp *int64
	signature *string
	beginTime *int64
	endTime *int64
	page *int32
	rows *int32
	recvWindow *int64
}

// 0-deposit, 1-withdraw
func (r ApiSapiV1FiatPaymentsGetRequest) TransactionType(transactionType string) ApiSapiV1FiatPaymentsGetRequest {
	r.transactionType = &transactionType
	return r
}
// UTC timestamp in ms
func (r ApiSapiV1FiatPaymentsGetRequest) Timestamp(timestamp int64) ApiSapiV1FiatPaymentsGetRequest {
	r.timestamp = &timestamp
	return r
}
// Signature
func (r ApiSapiV1FiatPaymentsGetRequest) Signature(signature string) ApiSapiV1FiatPaymentsGetRequest {
	r.signature = &signature
	return r
}
func (r ApiSapiV1FiatPaymentsGetRequest) BeginTime(beginTime int64) ApiSapiV1FiatPaymentsGetRequest {
	r.beginTime = &beginTime
	return r
}
// UTC timestamp in ms
func (r ApiSapiV1FiatPaymentsGetRequest) EndTime(endTime int64) ApiSapiV1FiatPaymentsGetRequest {
	r.endTime = &endTime
	return r
}
// Default 1
func (r ApiSapiV1FiatPaymentsGetRequest) Page(page int32) ApiSapiV1FiatPaymentsGetRequest {
	r.page = &page
	return r
}
// Default 100, max 500
func (r ApiSapiV1FiatPaymentsGetRequest) Rows(rows int32) ApiSapiV1FiatPaymentsGetRequest {
	r.rows = &rows
	return r
}
// The value cannot be greater than 60000
func (r ApiSapiV1FiatPaymentsGetRequest) RecvWindow(recvWindow int64) ApiSapiV1FiatPaymentsGetRequest {
	r.recvWindow = &recvWindow
	return r
}

func (r ApiSapiV1FiatPaymentsGetRequest) Execute() (InlineResponse20073, *_nethttp.Response, error) {
	return r.ApiService.SapiV1FiatPaymentsGetExecute(r)
}

/*
SapiV1FiatPaymentsGet Fiat Payments History (USER_DATA)

- If beginTime and endTime are not sent, the recent 30-day data will be returned.

Weight(IP): 1

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiSapiV1FiatPaymentsGetRequest
*/
func (a *FiatApiService) SapiV1FiatPaymentsGet(ctx _context.Context) ApiSapiV1FiatPaymentsGetRequest {
	return ApiSapiV1FiatPaymentsGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return InlineResponse20073
func (a *FiatApiService) SapiV1FiatPaymentsGetExecute(r ApiSapiV1FiatPaymentsGetRequest) (InlineResponse20073, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  InlineResponse20073
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FiatApiService.SapiV1FiatPaymentsGet")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/sapi/v1/fiat/payments"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.transactionType == nil {
		return localVarReturnValue, nil, reportError("transactionType is required and must be specified")
	}
	if r.timestamp == nil {
		return localVarReturnValue, nil, reportError("timestamp is required and must be specified")
	}
	if r.signature == nil {
		return localVarReturnValue, nil, reportError("signature is required and must be specified")
	}

	localVarQueryParams.Add("transactionType", parameterToString(*r.transactionType, ""))
	if r.beginTime != nil {
		localVarQueryParams.Add("beginTime", parameterToString(*r.beginTime, ""))
	}
	if r.endTime != nil {
		localVarQueryParams.Add("endTime", parameterToString(*r.endTime, ""))
	}
	if r.page != nil {
		localVarQueryParams.Add("page", parameterToString(*r.page, ""))
	}
	if r.rows != nil {
		localVarQueryParams.Add("rows", parameterToString(*r.rows, ""))
	}
	if r.recvWindow != nil {
		localVarQueryParams.Add("recvWindow", parameterToString(*r.recvWindow, ""))
	}
	localVarQueryParams.Add("timestamp", parameterToString(*r.timestamp, ""))
	localVarQueryParams.Add("signature", parameterToString(*r.signature, ""))
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-MBX-APIKEY"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ModelError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ModelError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
