openapi: 3.0.2
info:
  contact:
    email: qishiwenjun@163.com
    name: Turing Zhu
    url: https://www.turingzhu7.top
  description: |-
    OpenAPI Specifications for the Binance Public Spot API
    generated with [binance/binance-api-swagger/blob/master/spot_api.yaml](https://github.com/binance/binance-api-swagger/blob/master/spot_api.yaml) with commit [v1.2.0 release](https://github.com/binance/binance-api-swagger/commit/60d14be031c031600c853d5cdab86db5ab73603e)

    API documents:
      - [https://github.com/binance/binance-spot-api-docs](https://github.com/binance/binance-spot-api-docs)
      - [https://binance-docs.github.io/apidocs/spot/en](https://binance-docs.github.io/apidocs/spot/en)
  title: Binance Public Spot API
  version: "1.0"
servers:
- url: https://api.binance.com
- url: https://testnet.binance.vision
tags:
- description: Market Data
  name: Market
- description: Account/Trade
  name: Trade
- description: Margin Account/Trade
  name: Margin
- description: Wallet Endpoints
  name: Wallet
- description: Sub-account Endpoints
  name: Sub-Account
- description: User Data Stream
  name: Stream
- description: Margin User Data Stream
  name: Margin Stream
- description: Isolated User Data Stream
  name: Isolated Margin Stream
- description: Savings Endpoints
  name: Savings
- description: Mining Endpoints
  name: Mining
- description: Binance Leveraged Tokens Endpoints
  name: BLVT
- description: Binance Swap Endpoints
  name: BSwap
- description: Fiat Endpoints
  name: Fiat
- description: Consumer-To-Consumer Endpoints
  name: C2C
paths:
  /api/v3/ping:
    get:
      description: |-
        Test connectivity to the Rest API.

        Weight(IP): 1
      operationId: ping
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: OK
      summary: Test Connectivity
      tags:
      - Market
  /api/v3/time:
    get:
      description: |-
        Test connectivity to the Rest API and get the current server time.

        Weight(IP): 1
      operationId: getCurrentServerTime
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200'
          description: Binance server UTC timestamp
      summary: Check Server Time
      tags:
      - Market
  /api/v3/exchangeInfo:
    get:
      description: |-
        Current exchange trading rules and symbol information

        - If any symbol provided in either symbol or symbols do not exist, the endpoint will throw an error.

        Weight(IP): 10
      operationId: GetExchangeInfo
      parameters:
      - description: Trading symbol, e.g. BNBUSDT
        explode: true
        in: query
        name: symbol
        required: false
        schema:
          example: BNBUSDT
          type: string
        style: form
      - explode: true
        in: query
        name: arraySymbols
        required: false
        schema:
          example: '["BTCUSDT","BNBBTC"]'
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_1'
          description: Current exchange trading rules and symbol information
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
      summary: Exchange Information
      tags:
      - Market
  /api/v3/depth:
    get:
      description: |-
        | Limit               | Weight(IP)  |
        |---------------------|-------------|
        | 5, 10, 20, 50, 100  | 1           |
        | 500                 | 5           |
        | 1000                | 10          |
        | 5000                | 50          |
      operationId: depth
      parameters:
      - description: Trading symbol, e.g. BNBUSDT
        explode: true
        in: query
        name: symbol
        required: true
        schema:
          example: BNBUSDT
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 100
          enum:
          - 5
          - 10
          - 20
          - 50
          - 100
          - 500
          - 1000
          - 5000
          example: 100
          format: int32
          maximum: 5000
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                lastUpdateId: 1027024
                bids:
                - - "4.00000000"
                  - "431.00000000"
                asks:
                - - "4.00000200"
                  - "12.00000000"
              schema:
                $ref: '#/components/schemas/inline_response_200_2'
          description: Order book
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
      summary: Order Book
      tags:
      - Market
  /api/v3/trades:
    get:
      description: |-
        Get recent trades.

        Weight(IP): 1
      operationId: GetRecentTrades
      parameters:
      - description: Trading symbol, e.g. BNBUSDT
        explode: true
        in: query
        name: symbol
        required: true
        schema:
          example: BNBUSDT
          type: string
        style: form
      - description: Default 500; max 1000.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          example: 500
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/trade'
                type: array
          description: Trade list
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
      summary: Recent Trades List
      tags:
      - Market
  /api/v3/historicalTrades:
    get:
      description: |-
        Get older market trades.

        Weight(IP): 5
      operationId: GetHistoricalTrades
      parameters:
      - description: Trading symbol, e.g. BNBUSDT
        explode: true
        in: query
        name: symbol
        required: true
        schema:
          example: BNBUSDT
          type: string
        style: form
      - description: Default 500; max 1000.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          example: 500
          format: int32
          type: integer
        style: form
      - description: Trade id to fetch from. Default gets most recent trades.
        explode: true
        in: query
        name: fromId
        required: false
        schema:
          format: int64
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/trade'
                type: array
          description: Trade list
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized Request
      security:
      - ApiKeyAuth: []
      summary: Old Trade Lookup
      tags:
      - Market
  /api/v3/aggTrades:
    get:
      description: |-
        Get compressed, aggregate trades. Trades that fill at the time, from the same order, with the same price will have the quantity aggregated.
        - If `startTime` and `endTime` are sent, time between startTime and endTime must be less than 1 hour.
        - If `fromId`, `startTime`, and `endTime` are not sent, the most recent aggregate trades will be returned.

        Weight(IP): 1
      operationId: GetAggregateTrades
      parameters:
      - description: Trading symbol, e.g. BNBUSDT
        explode: true
        in: query
        name: symbol
        required: true
        schema:
          example: BNBUSDT
          type: string
        style: form
      - description: Trade id to fetch from. Default gets most recent trades.
        explode: true
        in: query
        name: fromId
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: UTC timestamp in ms
        explode: true
        in: query
        name: startTime
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: UTC timestamp in ms
        explode: true
        in: query
        name: endTime
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: Default 500; max 1000.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          example: 500
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/aggTrade'
                type: array
          description: Trade list
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
      summary: Compressed/Aggregate Trades List
      tags:
      - Market
  /api/v3/klines:
    get:
      description: |-
        Kline/candlestick bars for a symbol.\
        Klines are uniquely identified by their open time.

        - If `startTime` and `endTime` are not sent, the most recent klines are returned.

        Weight(IP): 1
      operationId: GetKlines
      parameters:
      - description: Trading symbol, e.g. BNBUSDT
        explode: true
        in: query
        name: symbol
        required: true
        schema:
          example: BNBUSDT
          type: string
        style: form
      - description: kline intervals
        explode: true
        in: query
        name: interval
        required: true
        schema:
          enum:
          - 1m
          - 3m
          - 5m
          - 15m
          - 30m
          - 1h
          - 2h
          - 4h
          - 6h
          - 8h
          - 12h
          - 1d
          - 3d
          - 1w
          - 1M
          type: string
        style: form
      - description: UTC timestamp in ms
        explode: true
        in: query
        name: startTime
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: UTC timestamp in ms
        explode: true
        in: query
        name: endTime
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: Default 500; max 1000.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          example: 500
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  example:
                  - 1499040000000
                  - "0.01634790"
                  - "0.80000000"
                  - "0.01575800"
                  - "0.01577100"
                  - "148976.11427815"
                  - 1499644799999
                  - "2434.19055334"
                  - 308
                  - "1756.87402397"
                  - "28.46694368"
                  - "17928899.62484339"
                  items:
                    maxItems: 12
                    minItems: 12
                    oneOf:
                    - format: int64
                      type: integer
                    - type: string
                  type: array
                type: array
          description: Kline data
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
      summary: Kline/Candlestick Data
      tags:
      - Market
  /api/v3/avgPrice:
    get:
      description: |-
        Current average price for a symbol.

        Weight(IP): 1
      operationId: GetAvgPrice
      parameters:
      - description: Trading symbol, e.g. BNBUSDT
        explode: true
        in: query
        name: symbol
        required: true
        schema:
          example: BNBUSDT
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_3'
          description: Average price
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
      summary: Current Average Price
      tags:
      - Market
  /api/v3/ticker/24hr:
    get:
      description: |-
        24 hour rolling window price change statistics. Careful when accessing this with no symbol.

        - If the symbol is not sent, tickers for all symbols will be returned in an array.

        Weight(IP):\
        `1` for a single symbol;\
        `40` when the symbol parameter is omitted;
      operationId: GetTicker24hrPrice
      parameters:
      - description: Trading symbol, e.g. BNBUSDT
        explode: true
        in: query
        name: symbol
        required: false
        schema:
          example: BNBUSDT
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ticker'
                - $ref: '#/components/schemas/tickerList'
          description: 24hr ticker
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
      summary: 24hr Ticker Price Change Statistics
      tags:
      - Market
  /api/v3/ticker/price:
    get:
      description: |-
        Latest price for a symbol or symbols.

        - If the symbol is not sent, prices for all symbols will be returned in an array.

        Weight(IP):\
        `1` for a single symbol;\
        `2` when the symbol parameter is omitted;
      operationId: GetTickerPrice
      parameters:
      - description: Trading symbol, e.g. BNBUSDT
        explode: true
        in: query
        name: symbol
        required: false
        schema:
          example: BNBUSDT
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/priceTicker'
                - $ref: '#/components/schemas/priceTickerList'
          description: Price ticker
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
      summary: Symbol Price Ticker
      tags:
      - Market
  /api/v3/ticker/bookTicker:
    get:
      description: |-
        Best price/qty on the order book for a symbol or symbols.

        - If the symbol is not sent, bookTickers for all symbols will be returned in an array.

        Weight(IP):\
        `1` for a single symbol;\
        `2` when the symbol parameter is omitted;
      operationId: GetBookTicker
      parameters:
      - description: Trading symbol, e.g. BNBUSDT
        explode: true
        in: query
        name: symbol
        required: false
        schema:
          example: BNBUSDT
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/bookTicker'
                - $ref: '#/components/schemas/bookTickerList'
          description: Order book ticker
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
      summary: Symbol Order Book Ticker
      tags:
      - Market
  /api/v3/order/test:
    post:
      description: |-
        Test new order creation and signature/recvWindow long.
        Creates and validates a new order but does not send it into the matching engine.

        Weight(IP): 1
      operationId: TestOrderCreation
      parameters:
      - description: Trading symbol, e.g. BNBUSDT
        explode: true
        in: query
        name: symbol
        required: true
        schema:
          example: BNBUSDT
          type: string
        style: form
      - description: SELL or BUY
        explode: true
        in: query
        name: side
        required: true
        schema:
          enum:
          - SELL
          - BUY
          example: SELL
          type: string
        style: form
      - description: Order type
        explode: true
        in: query
        name: type
        required: true
        schema:
          enum:
          - LIMIT
          - MARKET
          - STOP_LOSS
          - STOP_LOSS_LIMIT
          - TAKE_PROFIT
          - TAKE_PROFIT_LIMIT
          - LIMIT_MAKER
          type: string
        style: form
      - description: Order time in force
        explode: true
        in: query
        name: timeInForce
        required: false
        schema:
          enum:
          - GTC
          - IOC
          - FOK
          type: string
        style: form
      - description: Order quantity
        explode: true
        in: query
        name: quantity
        required: false
        schema:
          format: double
          type: number
        style: form
      - description: Quote quantity
        explode: true
        in: query
        name: quoteOrderQty
        required: false
        schema:
          format: double
          type: number
        style: form
      - description: Order price
        explode: true
        in: query
        name: price
        required: false
        schema:
          format: double
          type: number
        style: form
      - description: Used to uniquely identify this cancel. Automatically generated
          by default
        explode: true
        in: query
        name: newClientOrderId
        required: false
        schema:
          type: string
        style: form
      - description: Used with STOP_LOSS, STOP_LOSS_LIMIT, TAKE_PROFIT, and TAKE_PROFIT_LIMIT
          orders.
        explode: true
        in: query
        name: stopPrice
        required: false
        schema:
          example: 20.01
          format: double
          type: number
        style: form
      - description: Used with LIMIT, STOP_LOSS_LIMIT, and TAKE_PROFIT_LIMIT to create
          an iceberg order.
        explode: true
        in: query
        name: icebergQty
        required: false
        schema:
          format: double
          type: number
        style: form
      - description: Set the response JSON. MARKET and LIMIT order types default to
          FULL, all other orders default to ACK.
        explode: true
        in: query
        name: newOrderRespType
        required: false
        schema:
          enum:
          - ACK
          - RESULT
          - FULL
          type: string
        style: form
      - description: The value cannot be greater than 60000
        explode: true
        in: query
        name: recvWindow
        required: false
        schema:
          example: 5000
          format: int64
          type: integer
        style: form
      - description: UTC timestamp in ms
        explode: true
        in: query
        name: timestamp
        required: true
        schema:
          format: int64
          type: integer
        style: form
      - description: Signature
        explode: true
        in: query
        name: signature
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized Request
      security:
      - ApiKeyAuth: []
      summary: Test New Order (TRADE)
      tags:
      - Trade
  /api/v3/order:
    delete:
      description: |-
        Cancel an active order.

        Either `orderId` or `origClientOrderId` must be sent.

        Weight(IP): 1
      operationId: CancelOrder
      parameters:
      - description: Trading symbol, e.g. BNBUSDT
        explode: true
        in: query
        name: symbol
        required: true
        schema:
          example: BNBUSDT
          type: string
        style: form
      - description: Order id
        explode: true
        in: query
        name: orderId
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: Order id from client
        explode: true
        in: query
        name: origClientOrderId
        required: false
        schema:
          type: string
        style: form
      - description: Used to uniquely identify this cancel. Automatically generated
          by default
        explode: true
        in: query
        name: newClientOrderId
        required: false
        schema:
          type: string
        style: form
      - description: The value cannot be greater than 60000
        explode: true
        in: query
        name: recvWindow
        required: false
        schema:
          example: 5000
          format: int64
          type: integer
        style: form
      - description: UTC timestamp in ms
        explode: true
        in: query
        name: timestamp
        required: true
        schema:
          format: int64
          type: integer
        style: form
      - description: Signature
        explode: true
        in: query
        name: signature
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/order'
          description: Cancelled order
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized Request
      security:
      - ApiKeyAuth: []
      summary: Cancel Order (TRADE)
      tags:
      - Trade
    get:
      description: |-
        Check an order's status.

        - Either `orderId` or `origClientOrderId` must be sent.
        - For some historical orders `cummulativeQuoteQty` will be < 0, meaning the data is not available at this time.

        Weight(IP): 2
      operationId: GetOrder
      parameters:
      - description: Trading symbol, e.g. BNBUSDT
        explode: true
        in: query
        name: symbol
        required: true
        schema:
          example: BNBUSDT
          type: string
        style: form
      - description: Order id
        explode: true
        in: query
        name: orderId
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: Order id from client
        explode: true
        in: query
        name: origClientOrderId
        required: false
        schema:
          type: string
        style: form
      - description: The value cannot be greater than 60000
        explode: true
        in: query
        name: recvWindow
        required: false
        schema:
          example: 5000
          format: int64
          type: integer
        style: form
      - description: UTC timestamp in ms
        explode: true
        in: query
        name: timestamp
        required: true
        schema:
          format: int64
          type: integer
        style: form
      - description: Signature
        explode: true
        in: query
        name: signature
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/orderDetails'
          description: Order details
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized Request
      security:
      - ApiKeyAuth: []
      summary: Query Order (USER_DATA)
      tags:
      - Trade
    post:
      description: |-
        Send in a new order.

        - `LIMIT_MAKER` are `LIMIT` orders that will be rejected if they would immediately match and trade as a taker.
        - `STOP_LOSS` and `TAKE_PROFIT` will execute a `MARKET` order when the `stopPrice` is reached.
        - Any `LIMIT` or `LIMIT_MAKER` type order can be made an iceberg order by sending an `icebergQty`.
        - Any order with an `icebergQty` MUST have `timeInForce` set to `GTC`.
        - `MARKET` orders using `quantity` specifies how much a user wants to buy or sell based on the market price.
        - `MARKET` orders using `quoteOrderQty` specifies the amount the user wants to spend (when buying) or receive (when selling) of the quote asset; the correct quantity will be determined based on the market liquidity and `quoteOrderQty`.
        - `MARKET` orders using `quoteOrderQty` will not break `LOT_SIZE` filter rules; the order will execute a quantity that will have the notional value as close as possible to `quoteOrderQty`.
        - same `newClientOrderId` can be accepted only when the previous one is filled, otherwise the order will be rejected.

        Trigger order price rules against market price for both `MARKET` and `LIMIT` versions:

        - Price above market price: `STOP_LOSS` `BUY`, `TAKE_PROFIT` `SELL`
        - Price below market price: `STOP_LOSS` `SELL`, `TAKE_PROFIT` `BUY`


        Weight(IP): 1
      operationId: CreateOrder
      parameters:
      - description: Trading symbol, e.g. BNBUSDT
        explode: true
        in: query
        name: symbol
        required: true
        schema:
          example: BNBUSDT
          type: string
        style: form
      - description: SELL or BUY
        explode: true
        in: query
        name: side
        required: true
        schema:
          enum:
          - SELL
          - BUY
          example: SELL
          type: string
        style: form
      - description: Order type
        explode: true
        in: query
        name: type
        required: true
        schema:
          enum:
          - LIMIT
          - MARKET
          - STOP_LOSS
          - STOP_LOSS_LIMIT
          - TAKE_PROFIT
          - TAKE_PROFIT_LIMIT
          - LIMIT_MAKER
          type: string
        style: form
      - description: Order time in force
        explode: true
        in: query
        name: timeInForce
        required: false
        schema:
          enum:
          - GTC
          - IOC
          - FOK
          type: string
        style: form
      - description: Order quantity
        explode: true
        in: query
        name: quantity
        required: false
        schema:
          format: double
          type: number
        style: form
      - description: Quote quantity
        explode: true
        in: query
        name: quoteOrderQty
        required: false
        schema:
          format: double
          type: number
        style: form
      - description: Order price
        explode: true
        in: query
        name: price
        required: false
        schema:
          format: double
          type: number
        style: form
      - description: Used to uniquely identify this cancel. Automatically generated
          by default
        explode: true
        in: query
        name: newClientOrderId
        required: false
        schema:
          type: string
        style: form
      - description: Used with STOP_LOSS, STOP_LOSS_LIMIT, TAKE_PROFIT, and TAKE_PROFIT_LIMIT
          orders.
        explode: true
        in: query
        name: stopPrice
        required: false
        schema:
          example: 20.01
          format: double
          type: number
        style: form
      - description: Used with LIMIT, STOP_LOSS_LIMIT, and TAKE_PROFIT_LIMIT to create
          an iceberg order.
        explode: true
        in: query
        name: icebergQty
        required: false
        schema:
          format: double
          type: number
        style: form
      - description: Set the response JSON. MARKET and LIMIT order types default to
          FULL, all other orders default to ACK.
        explode: true
        in: query
        name: newOrderRespType
        required: false
        schema:
          enum:
          - ACK
          - RESULT
          - FULL
          type: string
        style: form
      - description: The value cannot be greater than 60000
        explode: true
        in: query
        name: recvWindow
        required: false
        schema:
          example: 5000
          format: int64
          type: integer
        style: form
      - description: UTC timestamp in ms
        explode: true
        in: query
        name: timestamp
        required: true
        schema:
          format: int64
          type: integer
        style: form
      - description: Signature
        explode: true
        in: query
        name: signature
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/orderResponseAck'
                - $ref: '#/components/schemas/orderResponseResult'
                - $ref: '#/components/schemas/orderResponseFull'
          description: Order result
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized Request
      security:
      - ApiKeyAuth: []
      summary: New Order (TRADE)
      tags:
      - Trade
  /api/v3/openOrders:
    delete:
      description: |-
        Cancels all active orders on a symbol.\
        This includes OCO orders.

        Weight(IP): 1
      operationId: CancelAllSymbolOrders
      parameters:
      - description: Trading symbol, e.g. BNBUSDT
        explode: true
        in: query
        name: symbol
        required: true
        schema:
          example: BNBUSDT
          type: string
        style: form
      - description: The value cannot be greater than 60000
        explode: true
        in: query
        name: recvWindow
        required: false
        schema:
          example: 5000
          format: int64
          type: integer
        style: form
      - description: UTC timestamp in ms
        explode: true
        in: query
        name: timestamp
        required: true
        schema:
          format: int64
          type: integer
        style: form
      - description: Signature
        explode: true
        in: query
        name: signature
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  anyOf:
                  - $ref: '#/components/schemas/order'
                  - $ref: '#/components/schemas/ocoOrder'
                type: array
          description: Cancelled orders
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized Request
      security:
      - ApiKeyAuth: []
      summary: Cancel all Open Orders on a Symbol (TRADE)
      tags:
      - Trade
    get:
      description: |-
        Get all open orders on a symbol. Careful when accessing this with no symbol.

        Weight(IP):\
        `3` for a single symbol;\
        `40` when the symbol parameter is omitted;
      operationId: GetAllSymbolOrder
      parameters:
      - description: Trading symbol, e.g. BNBUSDT
        explode: true
        in: query
        name: symbol
        required: false
        schema:
          example: BNBUSDT
          type: string
        style: form
      - description: The value cannot be greater than 60000
        explode: true
        in: query
        name: recvWindow
        required: false
        schema:
          example: 5000
          format: int64
          type: integer
        style: form
      - description: UTC timestamp in ms
        explode: true
        in: query
        name: timestamp
        required: true
        schema:
          format: int64
          type: integer
        style: form
      - description: Signature
        explode: true
        in: query
        name: signature
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/orderDetails'
                type: array
          description: Current open orders
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized Request
      security:
      - ApiKeyAuth: []
      summary: Current Open Orders (USER_DATA)
      tags:
      - Trade
  /api/v3/allOrders:
    get:
      description: |-
        Get all account orders; active, canceled, or filled..

        - If `orderId` is set, it will get orders >= that `orderId`. Otherwise most recent orders are returned.
        - For some historical orders `cummulativeQuoteQty` will be < 0, meaning the data is not available at this time.
        - If `startTime` and/or `endTime` provided, `orderId` is not required

        Weight(IP): 10
      operationId: GetAllOrders
      parameters:
      - description: Trading symbol, e.g. BNBUSDT
        explode: true
        in: query
        name: symbol
        required: true
        schema:
          example: BNBUSDT
          type: string
        style: form
      - description: Order id
        explode: true
        in: query
        name: orderId
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: UTC timestamp in ms
        explode: true
        in: query
        name: startTime
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: UTC timestamp in ms
        explode: true
        in: query
        name: endTime
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: Default 500; max 1000.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          example: 500
          format: int32
          type: integer
        style: form
      - description: The value cannot be greater than 60000
        explode: true
        in: query
        name: recvWindow
        required: false
        schema:
          example: 5000
          format: int64
          type: integer
        style: form
      - description: UTC timestamp in ms
        explode: true
        in: query
        name: timestamp
        required: true
        schema:
          format: int64
          type: integer
        style: form
      - description: Signature
        explode: true
        in: query
        name: signature
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/orderDetails'
                type: array
          description: Current open orders
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized Request
      security:
      - ApiKeyAuth: []
      summary: All Orders (USER_DATA)
      tags:
      - Trade
  /api/v3/order/oco:
    post:
      description: "Send in a new OCO\n\n- Price Restrictions:\n  - `SELL`: Limit\
        \ Price > Last Price > Stop Price\n  - `BUY`: Limit Price < Last Price < Stop\
        \ Price\n- Quantity Restrictions:\n    - Both legs must have the same quantity\n\
        \    - `ICEBERG` quantities however do not have to be the same\n- Order Rate\
        \ Limit\n    - `OCO` counts as 2 orders against the order rate limit.\n  \
        \  \nWeight(IP): 1"
      operationId: CreateOcoOrder
      parameters:
      - description: Trading symbol, e.g. BNBUSDT
        explode: true
        in: query
        name: symbol
        required: true
        schema:
          example: BNBUSDT
          type: string
        style: form
      - description: A unique Id for the entire orderList
        explode: true
        in: query
        name: listClientOrderId
        required: false
        schema:
          type: string
        style: form
      - description: SELL or BUY
        explode: true
        in: query
        name: side
        required: true
        schema:
          enum:
          - SELL
          - BUY
          example: SELL
          type: string
        style: form
      - explode: true
        in: query
        name: quantity
        required: true
        schema:
          format: double
          type: number
        style: form
      - description: A unique Id for the limit order
        explode: true
        in: query
        name: limitClientOrderId
        required: false
        schema:
          type: string
        style: form
      - description: Order price
        explode: true
        in: query
        name: price
        required: true
        schema:
          format: double
          type: number
        style: form
      - explode: true
        in: query
        name: limitIcebergQty
        required: false
        schema:
          format: double
          type: number
        style: form
      - description: A unique Id for the stop loss/stop loss limit leg
        explode: true
        in: query
        name: stopClientOrderId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: stopPrice
        required: true
        schema:
          format: double
          type: number
        style: form
      - description: If provided, stopLimitTimeInForce is required.
        explode: true
        in: query
        name: stopLimitPrice
        required: false
        schema:
          format: double
          type: number
        style: form
      - explode: true
        in: query
        name: stopIcebergQty
        required: false
        schema:
          format: double
          type: number
        style: form
      - explode: true
        in: query
        name: stopLimitTimeInForce
        required: false
        schema:
          enum:
          - GTC
          - FOK
          - IOC
          type: string
        style: form
      - description: Set the response JSON.
        explode: true
        in: query
        name: newOrderRespType
        required: false
        schema:
          enum:
          - ACK
          - RESULT
          - FULL
          type: string
        style: form
      - description: Default NO_SIDE_EFFECT
        explode: true
        in: query
        name: sideEffectType
        required: false
        schema:
          enum:
          - NO_SIDE_EFFECT
          - MARGIN_BUY
          - AUTO_REPAY
          type: string
        style: form
      - description: The value cannot be greater than 60000
        explode: true
        in: query
        name: recvWindow
        required: false
        schema:
          example: 5000
          format: int64
          type: integer
        style: form
      - description: UTC timestamp in ms
        explode: true
        in: query
        name: timestamp
        required: true
        schema:
          format: int64
          type: integer
        style: form
      - description: Signature
        explode: true
        in: query
        name: signature
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_4'
          description: New OCO details
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized Request
      security:
      - ApiKeyAuth: []
      summary: New OCO (TRADE)
      tags:
      - Trade
  /api/v3/orderList:
    delete:
      description: |-
        Cancel an entire Order List

        Canceling an individual leg will cancel the entire OCO

        Weight(IP): 1
      operationId: BatchCancelOrders
      parameters:
      - description: Trading symbol, e.g. BNBUSDT
        explode: true
        in: query
        name: symbol
        required: true
        schema:
          example: BNBUSDT
          type: string
        style: form
      - description: Order list id
        explode: true
        in: query
        name: orderListId
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: A unique Id for the entire orderList
        explode: true
        in: query
        name: listClientOrderId
        required: false
        schema:
          type: string
        style: form
      - description: Used to uniquely identify this cancel. Automatically generated
          by default
        explode: true
        in: query
        name: newClientOrderId
        required: false
        schema:
          type: string
        style: form
      - description: The value cannot be greater than 60000
        explode: true
        in: query
        name: recvWindow
        required: false
        schema:
          example: 5000
          format: int64
          type: integer
        style: form
      - description: UTC timestamp in ms
        explode: true
        in: query
        name: timestamp
        required: true
        schema:
          format: int64
          type: integer
        style: form
      - description: Signature
        explode: true
        in: query
        name: signature
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ocoOrder'
          description: Report on deleted OCO
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized Request
      security:
      - ApiKeyAuth: []
      summary: Cancel OCO (TRADE)
      tags:
      - Trade
    get:
      description: |-
        Retrieves a specific OCO based on provided optional parameters

        Weight(IP): 2
      operationId: GetSpecificOcoOrder
      parameters:
      - description: Order list id
        explode: true
        in: query
        name: orderListId
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: Order id from client
        explode: true
        in: query
        name: origClientOrderId
        required: false
        schema:
          type: string
        style: form
      - description: The value cannot be greater than 60000
        explode: true
        in: query
        name: recvWindow
        required: false
        schema:
          example: 5000
          format: int64
          type: integer
        style: form
      - description: UTC timestamp in ms
        explode: true
        in: query
        name: timestamp
        required: true
        schema:
          format: int64
          type: integer
        style: form
      - description: Signature
        explode: true
        in: query
        name: signature
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_5'
          description: OCO details
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized Request
      security:
      - ApiKeyAuth: []
      summary: Query OCO (USER_DATA)
      tags:
      - Trade
  /api/v3/allOrderList:
    get:
      description: |-
        Retrieves all OCO based on provided optional parameters

        Weight(IP): 10
      operationId: GetAllOcoOrder
      parameters:
      - description: Trade id to fetch from. Default gets most recent trades.
        explode: true
        in: query
        name: fromId
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: UTC timestamp in ms
        explode: true
        in: query
        name: startTime
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: UTC timestamp in ms
        explode: true
        in: query
        name: endTime
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: Default 500; max 1000.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          example: 500
          format: int32
          type: integer
        style: form
      - description: The value cannot be greater than 60000
        explode: true
        in: query
        name: recvWindow
        required: false
        schema:
          example: 5000
          format: int64
          type: integer
        style: form
      - description: UTC timestamp in ms
        explode: true
        in: query
        name: timestamp
        required: true
        schema:
          format: int64
          type: integer
        style: form
      - description: Signature
        explode: true
        in: query
        name: signature
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/inline_response_200_6'
                type: array
          description: List of OCO orders
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized Request
      security:
      - ApiKeyAuth: []
      summary: Query all OCO (USER_DATA)
      tags:
      - Trade
  /api/v3/openOrderList:
    get:
      description: 'Weight(IP): 3'
      operationId: GetOpenedOcoOrder
      parameters:
      - description: The value cannot be greater than 60000
        explode: true
        in: query
        name: recvWindow
        required: false
        schema:
          example: 5000
          format: int64
          type: integer
        style: form
      - description: UTC timestamp in ms
        explode: true
        in: query
        name: timestamp
        required: true
        schema:
          format: int64
          type: integer
        style: form
      - description: Signature
        explode: true
        in: query
        name: signature
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/inline_response_200_7'
                type: array
          description: List of OCO orders
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized Request
      security:
      - ApiKeyAuth: []
      summary: Query Open OCO (USER_DATA)
      tags:
      - Trade
  /api/v3/account:
    get:
      description: |-
        Get current account information.

        Weight(IP): 10
      operationId: GetAccount
      parameters:
      - description: The value cannot be greater than 60000
        explode: true
        in: query
        name: recvWindow
        required: false
        schema:
          example: 5000
          format: int64
          type: integer
        style: form
      - description: UTC timestamp in ms
        explode: true
        in: query
        name: timestamp
        required: true
        schema:
          format: int64
          type: integer
        style: form
      - description: Signature
        explode: true
        in: query
        name: signature
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account'
          description: Account details
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized Request
      security:
      - ApiKeyAuth: []
      summary: Account Information (USER_DATA)
      tags:
      - Trade
  /api/v3/myTrades:
    get:
      description: |-
        Get trades for a specific account and symbol.

        If `fromId` is set, it will get id >= that `fromId`. Otherwise most recent orders are returned.

        Weight(IP): 10
      operationId: GetTrades
      parameters:
      - description: Trading symbol, e.g. BNBUSDT
        explode: true
        in: query
        name: symbol
        required: true
        schema:
          example: BNBUSDT
          type: string
        style: form
      - description: This can only be used in combination with symbol.
        explode: true
        in: query
        name: orderId
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: UTC timestamp in ms
        explode: true
        in: query
        name: startTime
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: UTC timestamp in ms
        explode: true
        in: query
        name: endTime
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: Trade id to fetch from. Default gets most recent trades.
        explode: true
        in: query
        name: fromId
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: Default 500; max 1000.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          example: 500
          format: int32
          type: integer
        style: form
      - description: The value cannot be greater than 60000
        explode: true
        in: query
        name: recvWindow
        required: false
        schema:
          example: 5000
          format: int64
          type: integer
        style: form
      - description: UTC timestamp in ms
        explode: true
        in: query
        name: timestamp
        required: true
        schema:
          format: int64
          type: integer
        style: form
      - description: Signature
        explode: true
        in: query
        name: signature
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/myTrade'
                type: array
          description: List of trades
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized Request
      security:
      - ApiKeyAuth: []
      summary: Account Trade List (USER_DATA)
      tags:
      - Trade
  /api/v3/rateLimit/order:
    get:
      description: |-
        Displays the user's current order count usage for all intervals.

        Weight(IP): 20
      operationId: GetOrderRateLimit
      parameters:
      - description: The value cannot be greater than 60000
        explode: true
        in: query
        name: recvWindow
        required: false
        schema:
          example: 5000
          format: int64
          type: integer
        style: form
      - description: UTC timestamp in ms
        explode: true
        in: query
        name: timestamp
        required: true
        schema:
          format: int64
          type: integer
        style: form
      - description: Signature
        explode: true
        in: query
        name: signature
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                example:
                - rateLimitType: ORDERS
                  interval: SECOND
                  intervalNum: 10
                  limit: 10000
                  count: 0
                - rateLimitType: ORDERS
                  interval: DAY
                  intervalNum: 1
                  limit: 20000
                  count: 0
                items:
                  $ref: '#/components/schemas/inline_response_200_8'
                type: array
          description: Order rate limits
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized Request
      security:
      - ApiKeyAuth: []
      summary: Query Current Order Count Usage (TRADE)
      tags:
      - Trade
  /sapi/v1/margin/transfer:
    get:
      description: |-
        - Response in descending order
        - Returns data for last 7 days by default
        - Set `archived` to `true` to query data from 6 months ago

        Weight(IP): 1
      operationId: MarginGetCrossTransferRecord
      parameters:
      - explode: true
        in: query
        name: asset
        required: false
        schema:
          example: BNB
          type: string
        style: form
      - description: Tranfer Type
        explode: true
        in: query
        name: type
        required: false
        schema:
          enum:
          - ROLL_IN
          - ROLL_OUT
          type: string
        style: form
      - description: UTC timestamp in ms
        explode: true
        in: query
        name: startTime
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: UTC timestamp in ms
        explode: true
        in: query
        name: endTime
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: Current querying page. Start from 1. Default:1
        explode: true
        in: query
        name: current
        required: false
        schema:
          example: 1
          format: int32
          type: integer
        style: form
      - description: Default:10 Max:100
        explode: true
        in: query
        name: size
        required: false
        schema:
          example: 100
          format: int32
          type: integer
        style: form
      - description: 'Default: false. Set to true for archived data from 6 months
          ago'
        explode: true
        in: query
        name: archived
        required: false
        schema:
          type: string
        style: form
      - description: The value cannot be greater than 60000
        explode: true
        in: query
        name: recvWindow
        required: false
        schema:
          example: 5000
          format: int64
          type: integer
        style: form
      - description: UTC timestamp in ms
        explode: true
        in: query
        name: timestamp
        required: true
        schema:
          format: int64
          type: integer
        style: form
      - description: Signature
        explode: true
        in: query
        name: signature
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_9'
          description: Margin account transfer history, response in descending order
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized Request
      security:
      - ApiKeyAuth: []
      summary: Get Cross Margin Transfer History (USER_DATA)
      tags:
      - Margin
    post:
      description: |-
        Execute transfer between spot account and cross margin account.

        Weight(IP): 600
      operationId: MarginExecuteTransfer
      parameters:
      - explode: true
        in: query
        name: asset
        required: true
        schema:
          example: BTC
          type: string
        style: form
      - explode: true
        in: query
        name: amount
        required: true
        schema:
          example: 1.01
          format: double
          type: number
        style: form
      - description: |-
          1 -> transfer from main account to margin account \
          2 -> transfer from margin account to main account
        explode: true
        in: query
        name: type
        required: false
        schema:
          enum:
          - 1
          - 2
          format: int32
          type: integer
        style: form
      - description: The value cannot be greater than 60000
        explode: true
        in: query
        name: recvWindow
        required: false
        schema:
          example: 5000
          format: int64
          type: integer
        style: form
      - description: UTC timestamp in ms
        explode: true
        in: query
        name: timestamp
        required: true
        schema:
          format: int64
          type: integer
        style: form
      - description: Signature
        explode: true
        in: query
        name: signature
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/transaction'
          description: Transfer Id
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized Request
      security:
      - ApiKeyAuth: []
      summary: Cross Margin Account Transfer (MARGIN)
      tags:
      - Margin
  /sapi/v1/margin/loan:
    get:
      description: |-
        - `txId` or `startTime` must be sent. `txId` takes precedence.
        - Response in descending order
        - If `isolatedSymbol` is not sent, crossed margin data will be returned
        - Set `archived` to `true` to query data from 6 months ago

        Weight(IP): 10
      operationId: MarginGetLoan
      parameters:
      - explode: true
        in: query
        name: asset
        required: true
        schema:
          example: BTC
          type: string
        style: form
      - description: Isolated symbol
        explode: true
        in: query
        name: isolatedSymbol
        required: false
        schema:
          type: string
        style: form
      - description: the tranId in  `POST /sapi/v1/margin/loan`
        explode: true
        in: query
        name: txId
        required: false
        schema:
          example: 123456789
          format: int64
          type: integer
        style: form
      - description: UTC timestamp in ms
        explode: true
        in: query
        name: startTime
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: UTC timestamp in ms
        explode: true
        in: query
        name: endTime
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: Current querying page. Start from 1. Default:1
        explode: true
        in: query
        name: current
        required: false
        schema:
          example: 1
          format: int32
          type: integer
        style: form
      - description: Default:10 Max:100
        explode: true
        in: query
        name: size
        required: false
        schema:
          example: 100
          format: int32
          type: integer
        style: form
      - description: 'Default: false. Set to true for archived data from 6 months
          ago'
        explode: true
        in: query
        name: archived
        required: false
        schema:
          type: string
        style: form
      - description: The value cannot be greater than 60000
        explode: true
        in: query
        name: recvWindow
        required: false
        schema:
          example: 5000
          format: int64
          type: integer
        style: form
      - description: UTC timestamp in ms
        explode: true
        in: query
        name: timestamp
        required: true
        schema:
          format: int64
          type: integer
        style: form
      - description: Signature
        explode: true
        in: query
        name: signature
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_10'
          description: Loan records
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized Request
      security:
      - ApiKeyAuth: []
      summary: Query Loan Record (USER_DATA)
      tags:
      - Margin
    post:
      description: |-
        Apply for a loan.

        - If "isIsolated" = "TRUE", "symbol" must be sent
        - "isIsolated" = "FALSE" for crossed margin loan

        Weight(UID): 3000
      operationId: MarginApplyLoan
      parameters:
      - explode: true
        in: query
        name: asset
        required: true
        schema:
          example: BTC
          type: string
        style: form
      - description: For isolated margin or not, 'TRUE', 'FALSE', default 'FALSE'
        explode: true
        in: query
        name: isIsolated
        required: false
        schema:
          enum:
          - "TRUE"
          - "FALSE"
          type: string
        style: form
      - description: Trading symbol, e.g. BNBUSDT
        explode: true
        in: query
        name: symbol
        required: false
        schema:
          example: BNBUSDT
          type: string
        style: form
      - explode: true
        in: query
        name: amount
        required: true
        schema:
          example: 1.01
          format: double
          type: number
        style: form
      - description: The value cannot be greater than 60000
        explode: true
        in: query
        name: recvWindow
        required: false
        schema:
          example: 5000
          format: int64
          type: integer
        style: form
      - description: UTC timestamp in ms
        explode: true
        in: query
        name: timestamp
        required: true
        schema:
          format: int64
          type: integer
        style: form
      - description: Signature
        explode: true
        in: query
        name: signature
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/transaction'
          description: Transaction id
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized Request
      security:
      - ApiKeyAuth: []
      summary: Margin Account Borrow (MARGIN)
      tags:
      - Margin
  /sapi/v1/margin/repay:
    get:
      description: |-
        - `txId` or `startTime` must be sent. `txId` takes precedence.
        - Response in descending order
        - If `isolatedSymbol` is not sent, crossed margin data will be returned
        - Set `archived` to `true` to query data from 6 months ago

        Weight(IP): 10
      operationId: MarginGetRepayRecord
      parameters:
      - explode: true
        in: query
        name: asset
        required: true
        schema:
          example: BTC
          type: string
        style: form
      - description: Isolated symbol
        explode: true
        in: query
        name: isolatedSymbol
        required: false
        schema:
          type: string
        style: form
      - description: the tranId in  `POST /sapi/v1/margin/repay`
        explode: true
        in: query
        name: txId
        required: false
        schema:
          example: 2970933056
          format: int64
          type: integer
        style: form
      - description: UTC timestamp in ms
        explode: true
        in: query
        name: startTime
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: UTC timestamp in ms
        explode: true
        in: query
        name: endTime
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: Current querying page. Start from 1. Default:1
        explode: true
        in: query
        name: current
        required: false
        schema:
          example: 1
          format: int32
          type: integer
        style: form
      - description: Default:10 Max:100
        explode: true
        in: query
        name: size
        required: false
        schema:
          example: 100
          format: int32
          type: integer
        style: form
      - description: 'Default: false. Set to true for archived data from 6 months
          ago'
        explode: true
        in: query
        name: archived
        required: false
        schema:
          type: string
        style: form
      - description: The value cannot be greater than 60000
        explode: true
        in: query
        name: recvWindow
        required: false
        schema:
          example: 5000
          format: int64
          type: integer
        style: form
      - description: UTC timestamp in ms
        explode: true
        in: query
        name: timestamp
        required: true
        schema:
          format: int64
          type: integer
        style: form
      - description: Signature
        explode: true
        in: query
        name: signature
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_11'
          description: Load records
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized Request
      security:
      - ApiKeyAuth: []
      summary: Query Repay Record (USER_DATA)
      tags:
      - Margin
    post:
      description: |-
        Repay loan for margin account.

        - If "isIsolated" = "TRUE", "symbol" must be sent
        - "isIsolated" = "FALSE" for crossed margin repay

        Weight(IP): 3000
      operationId: MarginAccountRepay
      parameters:
      - explode: true
        in: query
        name: asset
        required: true
        schema:
          example: BTC
          type: string
        style: form
      - description: For isolated margin or not, 'TRUE', 'FALSE', default 'FALSE'
        explode: true
        in: query
        name: isIsolated
        required: false
        schema:
          enum:
          - "TRUE"
          - "FALSE"
          type: string
        style: form
      - description: Trading symbol, e.g. BNBUSDT
        explode: true
        in: query
        name: symbol
        required: false
        schema:
          example: BNBUSDT
          type: string
        style: form
      - explode: true
        in: query
        name: amount
        required: true
        schema:
          example: 1.01
          format: double
          type: number
        style: form
      - description: The value cannot be greater than 60000
        explode: true
        in: query
        name: recvWindow
        required: false
        schema:
          example: 5000
          format: int64
          type: integer
        style: form
      - description: UTC timestamp in ms
        explode: true
        in: query
        name: timestamp
        required: true
        schema:
          format: int64
          type: integer
        style: form
      - description: Signature
        explode: true
        in: query
        name: signature
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/transaction'
          description: Transaction id
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized Request
      security:
      - ApiKeyAuth: []
      summary: Margin Account Repay (MARGIN)
      tags:
      - Margin
  /sapi/v1/margin/asset:
    get:
      description: 'Weight(IP): 10'
      operationId: MarginGetAsset
      parameters:
      - explode: true
        in: query
        name: asset
        required: true
        schema:
          example: BTC
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_12'
          description: Asset details
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
      security:
      - ApiKeyAuth: []
      summary: Query Margin Asset (MARKET_DATA)
      tags:
      - Margin
  /sapi/v1/margin/pair:
    get:
      description: 'Weight(IP): 10'
      operationId: MarginGetPairs
      parameters:
      - description: Trading symbol, e.g. BNBUSDT
        explode: true
        in: query
        name: symbol
        required: true
        schema:
          example: BNBUSDT
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_13'
          description: Margin pair details
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
      security:
      - ApiKeyAuth: []
      summary: Query Cross Margin Pair (MARKET_DATA)
      tags:
      - Margin
  /sapi/v1/margin/allAssets:
    get:
      description: 'Weight(IP): 1'
      operationId: MarginGetAllAssets
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/inline_response_200_14'
                type: array
          description: Assets details
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
      security:
      - ApiKeyAuth: []
      summary: Get All Margin Assets (MARKET_DATA)
      tags:
      - Margin
  /sapi/v1/margin/allPairs:
    get:
      description: 'Weight(IP): 1'
      operationId: MarginGetAllCrossPairs
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/inline_response_200_15'
                type: array
          description: Margin pairs
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
      security:
      - ApiKeyAuth: []
      summary: Get All Cross Margin Pairs (MARKET_DATA)
      tags:
      - Margin
  /sapi/v1/margin/priceIndex:
    get:
      description: 'Weight(IP): 10'
      operationId: MarginGetPriceIndex
      parameters:
      - description: Trading symbol, e.g. BNBUSDT
        explode: true
        in: query
        name: symbol
        required: true
        schema:
          example: BNBUSDT
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_16'
          description: Price index
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
      security:
      - ApiKeyAuth: []
      summary: Query Margin PriceIndex (MARKET_DATA)
      tags:
      - Margin
  /sapi/v1/margin/order:
    delete:
      description: |-
        Cancel an active order for margin account.

        Either `orderId` or `origClientOrderId` must be sent.

        Weight(IP): 10
      operationId: MarginCancelOrder
      parameters:
      - description: Trading symbol, e.g. BNBUSDT
        explode: true
        in: query
        name: symbol
        required: true
        schema:
          example: BNBUSDT
          type: string
        style: form
      - description: For isolated margin or not, 'TRUE', 'FALSE', default 'FALSE'
        explode: true
        in: query
        name: isIsolated
        required: false
        schema:
          enum:
          - "TRUE"
          - "FALSE"
          type: string
        style: form
      - description: Order id
        explode: true
        in: query
        name: orderId
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: Order id from client
        explode: true
        in: query
        name: origClientOrderId
        required: false
        schema:
          type: string
        style: form
      - description: Used to uniquely identify this cancel. Automatically generated
          by default
        explode: true
        in: query
        name: newClientOrderId
        required: false
        schema:
          type: string
        style: form
      - description: The value cannot be greater than 60000
        explode: true
        in: query
        name: recvWindow
        required: false
        schema:
          example: 5000
          format: int64
          type: integer
        style: form
      - description: UTC timestamp in ms
        explode: true
        in: query
        name: timestamp
        required: true
        schema:
          format: int64
          type: integer
        style: form
      - description: Signature
        explode: true
        in: query
        name: signature
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/marginOrder'
          description: Cancelled margin order details
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized Request
      security:
      - ApiKeyAuth: []
      summary: Margin Account Cancel Order (TRADE)
      tags:
      - Margin
    get:
      description: |-
        - Either `orderId` or `origClientOrderId` must be sent.
        - For some historical orders `cummulativeQuoteQty` will be < 0, meaning the data is not available at this time.

        Weight(IP): 10
      operationId: MarginGetOrder
      parameters:
      - description: Trading symbol, e.g. BNBUSDT
        explode: true
        in: query
        name: symbol
        required: true
        schema:
          example: BNBUSDT
          type: string
        style: form
      - description: For isolated margin or not, 'TRUE', 'FALSE', default 'FALSE'
        explode: true
        in: query
        name: isIsolated
        required: false
        schema:
          enum:
          - "TRUE"
          - "FALSE"
          type: string
        style: form
      - description: Order id
        explode: true
        in: query
        name: orderId
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: Order id from client
        explode: true
        in: query
        name: origClientOrderId
        required: false
        schema:
          type: string
        style: form
      - description: The value cannot be greater than 60000
        explode: true
        in: query
        name: recvWindow
        required: false
        schema:
          example: 5000
          format: int64
          type: integer
        style: form
      - description: UTC timestamp in ms
        explode: true
        in: query
        name: timestamp
        required: true
        schema:
          format: int64
          type: integer
        style: form
      - description: Signature
        explode: true
        in: query
        name: signature
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/marginOrderDetail'
          description: Interest History, response in descending order
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized Request
      security:
      - ApiKeyAuth: []
      summary: Query Margin Account's Order (USER_DATA)
      tags:
      - Margin
    post:
      description: |-
        Post a new order for margin account.

        Weight(UID): 6
      operationId: MarginCreateOrder
      parameters:
      - description: Trading symbol, e.g. BNBUSDT
        explode: true
        in: query
        name: symbol
        required: true
        schema:
          example: BNBUSDT
          type: string
        style: form
      - description: For isolated margin or not, 'TRUE', 'FALSE', default 'FALSE'
        explode: true
        in: query
        name: isIsolated
        required: false
        schema:
          enum:
          - "TRUE"
          - "FALSE"
          type: string
        style: form
      - description: SELL or BUY
        explode: true
        in: query
        name: side
        required: true
        schema:
          enum:
          - SELL
          - BUY
          example: SELL
          type: string
        style: form
      - description: Order type
        explode: true
        in: query
        name: type
        required: true
        schema:
          enum:
          - LIMIT
          - MARKET
          - STOP_LOSS
          - STOP_LOSS_LIMIT
          - TAKE_PROFIT
          - TAKE_PROFIT_LIMIT
          - LIMIT_MAKER
          type: string
        style: form
      - explode: true
        in: query
        name: quantity
        required: true
        schema:
          format: double
          type: number
        style: form
      - description: Quote quantity
        explode: true
        in: query
        name: quoteOrderQty
        required: false
        schema:
          format: double
          type: number
        style: form
      - description: Order price
        explode: true
        in: query
        name: price
        required: false
        schema:
          format: double
          type: number
        style: form
      - description: Used with STOP_LOSS, STOP_LOSS_LIMIT, TAKE_PROFIT, and TAKE_PROFIT_LIMIT
          orders.
        explode: true
        in: query
        name: stopPrice
        required: false
        schema:
          example: 20.01
          format: double
          type: number
        style: form
      - description: Used to uniquely identify this cancel. Automatically generated
          by default
        explode: true
        in: query
        name: newClientOrderId
        required: false
        schema:
          type: string
        style: form
      - description: Used with LIMIT, STOP_LOSS_LIMIT, and TAKE_PROFIT_LIMIT to create
          an iceberg order.
        explode: true
        in: query
        name: icebergQty
        required: false
        schema:
          format: double
          type: number
        style: form
      - description: Set the response JSON.
        explode: true
        in: query
        name: newOrderRespType
        required: false
        schema:
          enum:
          - ACK
          - RESULT
          - FULL
          type: string
        style: form
      - description: Default NO_SIDE_EFFECT
        explode: true
        in: query
        name: sideEffectType
        required: false
        schema:
          enum:
          - NO_SIDE_EFFECT
          - MARGIN_BUY
          - AUTO_REPAY
          type: string
        style: form
      - description: Order time in force
        explode: true
        in: query
        name: timeInForce
        required: false
        schema:
          enum:
          - GTC
          - IOC
          - FOK
          type: string
        style: form
      - description: The value cannot be greater than 60000
        explode: true
        in: query
        name: recvWindow
        required: false
        schema:
          example: 5000
          format: int64
          type: integer
        style: form
      - description: UTC timestamp in ms
        explode: true
        in: query
        name: timestamp
        required: true
        schema:
          format: int64
          type: integer
        style: form
      - description: Signature
        explode: true
        in: query
        name: signature
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/marginOrderResponseAck'
                - $ref: '#/components/schemas/marginOrderResponseResult'
                - $ref: '#/components/schemas/marginOrderResponseFull'
          description: Margin order info
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized Request
      security:
      - ApiKeyAuth: []
      summary: Margin Account New Order (TRADE)
      tags:
      - Margin
  /sapi/v1/margin/interestHistory:
    get:
      description: |-
        - Response in descending order
        - If `isolatedSymbol` is not sent, crossed margin data will be returned
        - Set `archived` to `true` to query data from 6 months ago
        - `type` in response has 4 enums:
          - `PERIODIC` interest charged per hour
          - `ON_BORROW` first interest charged on borrow
          - `PERIODIC_CONVERTED` interest charged per hour converted into BNB
          - `ON_BORROW_CONVERTED` first interest charged on borrow converted into BNB

        Weight(IP): 1
      operationId: MarginGetInterestRecord
      parameters:
      - explode: true
        in: query
        name: asset
        required: false
        schema:
          example: BNB
          type: string
        style: form
      - description: Isolated symbol
        explode: true
        in: query
        name: isolatedSymbol
        required: false
        schema:
          type: string
        style: form
      - description: UTC timestamp in ms
        explode: true
        in: query
        name: startTime
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: UTC timestamp in ms
        explode: true
        in: query
        name: endTime
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: Current querying page. Start from 1. Default:1
        explode: true
        in: query
        name: current
        required: false
        schema:
          example: 1
          format: int32
          type: integer
        style: form
      - description: Default:10 Max:100
        explode: true
        in: query
        name: size
        required: false
        schema:
          example: 100
          format: int32
          type: integer
        style: form
      - description: 'Default: false. Set to true for archived data from 6 months
          ago'
        explode: true
        in: query
        name: archived
        required: false
        schema:
          type: string
        style: form
      - description: The value cannot be greater than 60000
        explode: true
        in: query
        name: recvWindow
        required: false
        schema:
          example: 5000
          format: int64
          type: integer
        style: form
      - description: UTC timestamp in ms
        explode: true
        in: query
        name: timestamp
        required: true
        schema:
          format: int64
          type: integer
        style: form
      - description: Signature
        explode: true
        in: query
        name: signature
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_17'
          description: Interest History, response in descending order
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized Request
      security:
      - ApiKeyAuth: []
      summary: Get Interest History (USER_DATA)
      tags:
      - Margin
  /sapi/v1/margin/forceLiquidationRec:
    get:
      description: |-
        - Response in descending order

        Weight(IP): 1
      operationId: MarginGetForceLiquidationRecord
      parameters:
      - description: UTC timestamp in ms
        explode: true
        in: query
        name: startTime
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: UTC timestamp in ms
        explode: true
        in: query
        name: endTime
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: Isolated symbol
        explode: true
        in: query
        name: isolatedSymbol
        required: false
        schema:
          type: string
        style: form
      - description: Current querying page. Start from 1. Default:1
        explode: true
        in: query
        name: current
        required: false
        schema:
          example: 1
          format: int32
          type: integer
        style: form
      - description: Default:10 Max:100
        explode: true
        in: query
        name: size
        required: false
        schema:
          example: 100
          format: int32
          type: integer
        style: form
      - description: The value cannot be greater than 60000
        explode: true
        in: query
        name: recvWindow
        required: false
        schema:
          example: 5000
          format: int64
          type: integer
        style: form
      - description: UTC timestamp in ms
        explode: true
        in: query
        name: timestamp
        required: true
        schema:
          format: int64
          type: integer
        style: form
      - description: Signature
        explode: true
        in: query
        name: signature
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_18'
          description: Force Liquidation History, response in descending order
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized Request
      security:
      - ApiKeyAuth: []
      summary: Get Force Liquidation Record (USER_DATA)
      tags:
      - Margin
  /sapi/v1/margin/account:
    get:
      description: 'Weight(IP): 10'
      operationId: MarginGetAccount
      parameters:
      - description: The value cannot be greater than 60000
        explode: true
        in: query
        name: recvWindow
        required: false
        schema:
          example: 5000
          format: int64
          type: integer
        style: form
      - description: UTC timestamp in ms
        explode: true
        in: query
        name: timestamp
        required: true
        schema:
          format: int64
          type: integer
        style: form
      - description: Signature
        explode: true
        in: query
        name: signature
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_19'
          description: Margin account details
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized Request
      security:
      - ApiKeyAuth: []
      summary: Query Cross Margin Account Details (USER_DATA)
      tags:
      - Margin
  /sapi/v1/margin/openOrders:
    delete:
      description: |
        - Cancels all active orders on a symbol for margin account.
        - This includes OCO orders.

        Weight(IP): 1
      operationId: MarginCancelAllSymbolOrders
      parameters:
      - description: Trading symbol, e.g. BNBUSDT
        explode: true
        in: query
        name: symbol
        required: true
        schema:
          example: BNBUSDT
          type: string
        style: form
      - description: For isolated margin or not, 'TRUE', 'FALSE', default 'FALSE'
        explode: true
        in: query
        name: isIsolated
        required: false
        schema:
          enum:
          - "TRUE"
          - "FALSE"
          type: string
        style: form
      - description: The value cannot be greater than 60000
        explode: true
        in: query
        name: recvWindow
        required: false
        schema:
          example: 5000
          format: int64
          type: integer
        style: form
      - description: UTC timestamp in ms
        explode: true
        in: query
        name: timestamp
        required: true
        schema:
          format: int64
          type: integer
        style: form
      - description: Signature
        explode: true
        in: query
        name: signature
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  anyOf:
                  - $ref: '#/components/schemas/canceledMarginOrderDetail'
                  - $ref: '#/components/schemas/marginOcoOrder'
                type: array
          description: Cancelled margin orders
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized Request
      security:
      - ApiKeyAuth: []
      summary: Margin Account Cancel all Open Orders on a Symbol (TRADE)
      tags:
      - Margin
    get:
      description: |-
        - If the `symbol` is not sent, orders for all symbols will be returned in an array.
        - When all symbols are returned, the number of requests counted against the rate limiter is equal to the number of symbols currently trading on the exchange
        - If isIsolated ="TRUE", symbol must be sent.

        Weight(IP): 10
      operationId: MarginGetOrders
      parameters:
      - description: Trading symbol, e.g. BNBUSDT
        explode: true
        in: query
        name: symbol
        required: false
[...]
